n8n-workflows/automated-scraping-workflow.json
{
  "name": "JobNexAI - Automated Massive Scraping",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { source: 'linkedin', query: 'Frontend Developer' } },\n  { json: { source: 'indeed', query: 'React Engineer' } },\n  { json: { source: 'wttj', query: 'Fullstack TypeScript' } }\n];"
      },
      "id": "2",
      "name": "Config - Search Targets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "3",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://klwugophjvzctlautsqz.supabase.co/functions/v1/jobnexai-api/automation/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SERVICE_ROLE_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "scraping"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "={{ $json.source }} scraping completed"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "HTTP - Log to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config - Search Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config - Search Targets": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP - Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
