n8n-workflows/cv-screening-workflow.json
{
  "name": "JobNexAI - CV Screening avec Mammouth.ai",
  "nodes": [
    {
      "parameters": {
        "path": "cv-screening-form",
        "formTitle": "Analyse CV + Offre d'emploi",
        "formDescription": "Uploadez votre CV et l'URL de l'offre d'emploi pour obtenir une analyse détaillée",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Ajoutez votre CV",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "url_de_l_offre_d_emploi",
              "requiredField": true
            },
            {
              "fieldLabel": "votre_email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "7e5025f9-521b-42fd-a520-faa672b656dd",
      "name": "Form Trigger - Upload CV",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -944,
        432
      ],
      "webhookId": "cv-screening-form"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Ajoutez_votre_CV",
        "options": {}
      },
      "id": "ce74b2df-8e5d-4a2b-8edf-bf06a1a4b098",
      "name": "Extract - CV PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -592,
        432
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Form Trigger - Upload CV').first().json.url_de_l_offre_d_emploi }}",
        "options": {}
      },
      "id": "fe1401ca-f76d-4859-886e-c1d6933401dc",
      "name": "HTTP - Fetch Job Description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        672,
        16
      ],
      "notesInFlow": false,
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "cv_text",
              "stringValue": "={{ $item(0).json.cv_text || $item(0).json.text }}"
            },
            {
              "name": "job_url",
              "stringValue": "={{ $item(1).json.job_url }}"
            },
            {
              "name": "user_email",
              "stringValue": "={{ $item(0).json.votre_email }}"
            },
            {
              "name": "job_data",
              "stringValue": "={{ $item(1).json.job_text || $item(1).json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c90f64-4276-4d4a-a9be-5fa169a9ed9c",
      "name": "Set - Merge CV + Job",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        0,
        0
      ],
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all()[0].json;\n\n// Récupère la langue de l'utilisateur (par défaut : français)\nconst userLanguage = inputData.user_language || 'fr';\nconst languageInstruction = userLanguage === 'en' \n  ? 'Respond in English.' \n  : 'Réponds en français.';\n\nconst payload = {\n  model: \"gpt-4o\",\n  messages: [\n    {\n      role: \"system\",\n      content: `Tu es un expert RH spécialisé en analyse de CV.\n\n${languageInstruction}\n\nIMPORTANT : Retourne UNIQUEMENT un objet JSON valide avec cette structure EXACTE (sans backticks markdown) :\n\n{\n  \"candidate_name\": \"${userLanguage === 'en' ? 'Candidate First and Last Name extracted from CV' : 'Prénom NOM du candidat extrait du CV'}\",\n  \"matching_score\": 85,\n  \"strengths\": [\"${userLanguage === 'en' ? 'Strength 1' : 'Force 1'}\", \"${userLanguage === 'en' ? 'Strength 2' : 'Force 2'}\", \"${userLanguage === 'en' ? 'Strength 3' : 'Force 3'}\"],\n  \"weaknesses\": [\"${userLanguage === 'en' ? 'Weakness 1' : 'Faiblesse 1'}\", \"${userLanguage === 'en' ? 'Weakness 2' : 'Faiblesse 2'}\"],\n  \"recommendation\": \"${userLanguage === 'en' ? 'Detailed recommendation' : 'Recommandation détaillée'}\",\n  \"key_insights\": [\"${userLanguage === 'en' ? 'Insight 1' : 'Insight 1'}\", \"${userLanguage === 'en' ? 'Insight 2' : 'Insight 2'}\"],\n  \"interview_questions\": [\"${userLanguage === 'en' ? 'Question 1' : 'Question 1'}\", \"${userLanguage === 'en' ? 'Question 2' : 'Question 2'}\"]\n}\n\nNe retourne RIEN d'autre que ce JSON pur.`\n    },\n    {\n      role: \"user\",\n      content: `${userLanguage === 'en' ? 'Analyze this CV against the job offer:' : 'Analyse ce CV par rapport à l\\'offre d\\'emploi :'}\n\n${userLanguage === 'en' ? 'CANDIDATE CV:' : 'CV DU CANDIDAT :'}\n${inputData.cv_text ? inputData.cv_text.substring(0, 4000) : (userLanguage === 'en' ? 'CV not available' : 'CV non disponible')}\n\n${userLanguage === 'en' ? 'JOB OFFER:' : 'OFFRE D\\'EMPLOI :'}\n${inputData.job_url}\n\n${userLanguage === 'en' ? 'Job description (raw HTML):' : 'Description de l\\'offre (HTML brut) :'}\n${typeof inputData.job_data === 'string' ? inputData.job_data.substring(0, 2000) : JSON.stringify(inputData.job_data).substring(0, 2000)}\n\n${userLanguage === 'en' ? 'Return your analysis in pure JSON format (without markdown).' : 'Retourne ton analyse au format JSON pur (sans markdown).'}`\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 1500\n};\n\nreturn [{\n  json: {\n    mammouthPayload: payload,\n    user_language: userLanguage,  // Propage la langue\n    debugInfo: {\n      timestamp: new Date().toISOString(),\n      cv_length: inputData.cv_text?.length || 0,\n      job_url: inputData.job_url,\n      language: userLanguage\n    }\n  }\n}];"
      },
      "id": "73e64912-e15e-4115-af0b-241e3712f65c",
      "name": "Prepare Mammouth Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mammouth.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.mammouthPayload }}",
        "options": {}
      },
      "id": "669b29b5-3fb2-4299-aabb-e33fca355bdb",
      "name": "Mammouth.ai - CV Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        528,
        432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ARuUx7gCHPvcz6Qr",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Candidate_name",
              "stringValue": "={{ JSON.parse($json.choices[0].message.content).candidate_name }}"
            },
            {
              "name": "ai_analysis",
              "stringValue": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "job_url",
              "stringValue": "={{ $node[\"Merge CV + Job Data\"].json.job_url }}"
            },
            {
              "name": "cv_text",
              "stringValue": "={{ $node[\"Merge CV + Job Data\"].json.cv_text }}"
            },
            {
              "name": "user_email",
              "stringValue": "={{ $node[\"Merge CV + Job Data\"].json.user_email }}"
            },
            {
              "name": "created_at",
              "stringValue": "={{ new Date().toISOString() }}"
            },
            {
              "name": "matching_score",
              "stringValue": "={{ JSON.parse($json.choices[0].message.content).matching_score }}"
            },
            {
              "name": "analysis_type",
              "stringValue": "cv_screening"
            },
            {
              "name": "job_data",
              "stringValue": "={{ $node[\"Merge CV + Job Data\"].json.job_data }}"
            },
            {
              "name": "strengths",
              "stringValue": "={{ JSON.parse($json.choices[0].message.content).strengths }}"
            },
            {
              "name": "weaknesses",
              "stringValue": "={{ JSON.parse($json.choices[0].message.content).weaknesses }}"
            },
            {
              "name": "recommendation",
              "stringValue": "={{ JSON.parse($json.choices[0].message.content).recommendation }}"
            },
            {
              "name": "key_insights",
              "stringValue": "={{ JSON.parse($json.choices[0].message.content).key_insights }}"
            },
            {
              "name": "interview_questions",
              "stringValue": "={{ JSON.parse($json.choices[0].message.content).interview_questions }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4018793-3480-43b2-b0e2-06657dc3c2db",
      "name": "Set - Extract AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        336,
        16
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const analysis = $input.item.json;\nconst cvText = analysis.cv_text || '';\nconst jobData = analysis.job_data || '';\n\n// Validation de la longueur\nif (cvText.length < 200 || jobData.length < 200) {\n  return {\n    json: {\n      validation_status: \"input_error\",\n      error_message: `CV ou offre trop court(e) (< 200 caractères)`,\n      cv_text: cvText,\n      job_data: jobData,\n      user_language: analysis.user_language // Propage la langue\n    }\n  };\n}\n\n// Ajoute les champs manquants\nconst finalAnalysis = {\n  ...analysis,\n  cv_text: cvText,\n  job_data: jobData,\n  user_email: analysis.user_email,\n  user_language: analysis.user_language, // Propage la langue\n  analyzed_at: new Date().toISOString(),\n  validation_status: \"success\",\n  analysis_type: \"cv_screening\"\n};\n\nreturn {\n  json: finalAnalysis\n};"
      },
      "id": "0c233236-e717-453a-8040-9ceecf6e56c1",
      "name": "Function - JSON Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        432
      ]
    },
    {
      "parameters": {
        "tableId": "cv_analysis",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "candidate_name",
              "fieldValue": "={{ $json.candidate_name }}"
            },
            {
              "fieldId": "user_email",
              "fieldValue": "={{ $json.user_email }}"
            },
            {
              "fieldId": "job_url",
              "fieldValue": "={{ $json.job_url }}"
            },
            {
              "fieldId": "matching_score",
              "fieldValue": "={{ $json.matching_score }}"
            },
            {
              "fieldId": "analysis_type",
              "fieldValue": "cv_screening"
            },
            {
              "fieldId": "analyzed_at",
              "fieldValue": "={{ $json.analyzed_at }}"
            },
            {
              "fieldId": "analysis_data",
              "fieldValue": "={{ $json }}"
            }
          ]
        }
      },
      "id": "9aa4933e-2213-4840-aee8-989a4625fa1c",
      "name": "Supabase - Save Analysis",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1936,
        448
      ],
      "credentials": {
        "supabaseApi": {
          "id": "RsG0CR5F5zJGpBIJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://klwugophjvzctlautsqz.supabase.co/functions/v1/send-notification-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtsd3Vnb3BoanZ6Y3RsYXV0c3F6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDAwODQxMSwiZXhwIjoyMDY1NTg0NDExfQ.ZjapEpSPUE4PGzIkZ_MRfY77v2ML82MyFIKffEPfG8o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.user_email }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.user_language === 'en' ? `CV Analysis - ${$json.candidate_name}` : `Analyse CV - ${$json.candidate_name}` }}"
            },
            {
              "name": "text",
              "value": "=={{ `Bonjour ${$json.candidate_name || 'Candidat'},\\nScore de correspondance : ${$json.matching_score}%.\\nRecommandation : ${$json.recommendation}` }}"
            },
            {
              "name": "html",
              "value": "={{ \n  ($json.user_language || '').trim().toLowerCase() === 'en' \n  ? `\n    <div style=\"font-family: Arial, sans-serif; line-height: 1.6;\">\n      <p>Hello ${$json.candidate_name || 'Candidate'},</p>\n      <p>Here is the analysis of your CV against the job offer:</p>\n      \n      <p><strong>Matching Score:</strong> ${$json.matching_score}%</p>\n      \n      <p><strong>Recommendation:</strong></p>\n      <p>${$json.recommendation}</p>\n      \n      <p><strong>Strengths:</strong></p>\n      <ul>\n        ${($json.strengths || []).map(item => `<li>${item}</li>`).join('')}\n      </ul>\n      \n      <p><strong>Weaknesses:</strong></p>\n      <ul>\n        ${($json.weaknesses || []).map(item => `<li>${item}</li>`).join('')}\n      </ul>\n      \n      <p><strong>Key Insights:</strong></p>\n      <ul>\n        ${($json.key_insights || []).map(item => `<li>${item}</li>`).join('')}\n      </ul>\n      \n      <p><strong>Suggested Interview Questions:</strong></p>\n      <ul>\n        ${($json.interview_questions || []).map(item => `<li>${item}</li>`).join('')}\n      </ul>\n      \n      <p><strong>Job Offer:</strong> <a href=\"${$json.job_url}\">${$json.job_url}</a></p>\n      \n      <p>Best regards,<br>The JobNexAI Team</p>\n    </div>\n  `\n  : `\n    <div style=\"font-family: Arial, sans-serif; line-height: 1.6;\">\n      <p>Bonjour ${$json.candidate_name || 'Candidat'},</p>\n      <p>Voici l'analyse de votre CV par rapport à l'offre d'emploi :</p>\n      \n      <p><strong>Score de correspondance :</strong> ${$json.matching_score}%</p>\n      \n      <p><strong>Recommandation :</strong></p>\n      <p>${$json.recommendation}</p>\n      \n      <p><strong>Points forts :</strong></p>\n      <ul>\n        ${($json.strengths || []).map(item => `<li>${item}</li>`).join('')}\n      </ul>\n      \n      <p><strong>Points faibles :</strong></p>\n      <ul>\n        ${($json.weaknesses || []).map(item => `<li>${item}</li>`).join('')}\n      </ul>\n      \n      <p><strong>Insights clés :</strong></p>\n      <ul>\n        ${($json.key_insights || []).map(item => `<li>${item}</li>`).join('')}\n      </ul>\n      \n      <p><strong>Questions d'entretien suggérées :</strong></p>\n      <ul>\n        ${($json.interview_questions || []).map(item => `<li>${item}</li>`).join('')}\n      </ul>\n      \n      <p><strong>Offre d'emploi :</strong> <a href=\"${$json.job_url}\">${$json.job_url}</a></p>\n      \n      <p>Cordialement,<br>L'équipe JobNexAI</p>\n    </div>\n  `\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        448
      ],
      "id": "932d471d-f268-419a-aa95-9b10566ea4e0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Récupère le HTML brut du nœud précédent\nconst html = $input.item.json.data;\n\n// Fonction simple pour enlever les balises HTML et nettoyer le texte\nfunction stripHtml(htmlString) {\n  if (!htmlString) {\n    return '';\n  }\n  // Enlève les scripts, styles, et commentaires\n  let cleaned = htmlString.replace(/<script[^>]*>([\\S\\s]*?)<\\/script>/gmi, '');\n  cleaned = cleaned.replace(/<style[^>]*>([\\S\\s]*?)<\\/style>/gmi, '');\n  cleaned = cleaned.replace(/<!--[\\s\\S]*?-->/g, '');\n  // Remplace les balises par des espaces et décode les entités HTML\n  cleaned = cleaned.replace(/<[^>]+>/g, ' ').replace(/&nbsp;/g, ' ');\n  // Supprime les espaces multiples et les lignes vides\n  cleaned = cleaned.replace(/\\s\\s+/g, ' ').trim();\n  return cleaned;\n}\n\nconst jobText = stripHtml(html);\n\nconsole.log(`Longueur du texte de l'offre : ${jobText.length}`);\n\n// Retourne les données de l'offre et l'URL d'origine\nreturn {\n  json: {\n    job_url: $input.item.json.job_url, // Propage l'URL\n    job_data: jobText,\n    data: jobText // Garde \"data\" pour la compatibilité\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        800
      ],
      "id": "f28444e2-3454-4d0a-b455-c86a04d39ab7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "954c3619-949f-4da0-b2e3-77f5a42152d8",
              "leftValue": "={{ $json.validation_status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4be8d040-4283-499d-977e-1788681dbebf",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        432
      ],
      "id": "973b8fd6-18aa-46ec-95ed-f4a2482278c8",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -240,
        640
      ],
      "id": "8e2a37db-07d7-44f1-b968-78c855f32fbb",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Récupère les données du CV directement depuis sa branche\nconst cvNode = $node[\"Add Email to CV Data\"];\nconst cvData = cvNode.json;\n\n// Récupère les données de l'offre directement depuis sa branche\nconst jobNode = $node[\"Code in JavaScript\"];\nconst jobData = jobNode.json;\n\n// Récupère la langue depuis Supabase\nlet userLanguage = 'fr';\ntry {\n  const supabaseNode = $node[\"Supabase - Get User Language\"];\n  if (supabaseNode && supabaseNode.json && supabaseNode.json.preferred_language) {\n    userLanguage = supabaseNode.json.preferred_language;\n  }\n} catch (error) {\n  console.log('⚠️ Langue par défaut : français');\n}\n\nconsole.log('=== DEBUG Merge CV + Job Data ===');\nconsole.log('user_email:', cvData.votre_email);\nconsole.log('user_language:', userLanguage);\nconsole.log('Job Data Length:', (jobData.data || jobData.job_text || '').length);\n\nreturn {\n  json: {\n    cv_text: cvData.text || cvData.cv_text || '',\n    job_url: jobData.job_url || '',\n    job_data: jobData.data || jobData.job_text || '',\n    user_email: cvData.votre_email || '',\n    user_language: userLanguage\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        432
      ],
      "id": "be57989c-a724-4be6-b761-b4d0a00bb527",
      "name": "Merge CV + Job Data"
    },
    {
      "parameters": {
        "jsCode": "console.log('=== DEBUG HTTP Request ===');\nconsole.log('user_email:', $input.item.json.user_email);\nconsole.log('Type:', typeof $input.item.json.user_email);\nconsole.log('Toutes les données:', JSON.stringify($input.item.json, null, 2));\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        352
      ],
      "id": "68258196-08ce-4b00-9ad9-cc9badd6bddd",
      "name": "Debug - Check Email"
    },
    {
      "parameters": {
        "jsCode": "// Récupère les données du formulaire\nconst formData = $node[\"Form Trigger - Upload CV\"].json;\n\n// Récupère les données du PDF\nconst pdfData = $input.item.json;\n\nconsole.log('=== DEBUG Add Email to CV Data ===');\nconsole.log('formData.votre_email:', formData.votre_email);\nconsole.log('pdfData.text:', pdfData.text ? 'OK' : 'VIDE');\n\n// Fusionne les données\nreturn {\n  json: {\n    text: pdfData.text || '',\n    cv_text: pdfData.text || '',\n    votre_email: formData.votre_email || '',\n    // Propage aussi les autres champs du PDF si nécessaire\n    numpages: pdfData.numpages,\n    numrender: pdfData.numrender,\n    info: pdfData.info,\n    version: pdfData.version\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        416
      ],
      "id": "d7fd4577-9ad6-4faf-a687-b3f2952a073b",
      "name": "Add Email to CV Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43f5f5d9-d9c3-4044-b787-683149ee4ac7",
              "name": "candidate_name",
              "value": "={{ $node[\"Function - JSON Validator\"].json.candidate_name }}",
              "type": "string"
            },
            {
              "id": "52a7c041-331a-41cb-98ce-390054ec6e6c",
              "name": "user_email",
              "value": "={{ $node[\"Function - JSON Validator\"].json.user_email }}",
              "type": "string"
            },
            {
              "id": "42a2c727-fcdd-4567-b07c-67f207aeaea9",
              "name": "job_url",
              "value": "={{ $node[\"Function - JSON Validator\"].json.job_url }}",
              "type": "string"
            },
            {
              "id": "58b53c92-821e-48ac-bccf-72016a8840ab",
              "name": "matching_score",
              "value": "={{ $node[\"Function - JSON Validator\"].json.matching_score }}",
              "type": "string"
            },
            {
              "id": "17f6d788-f06c-4435-986b-4dfdd39e113e",
              "name": "strengths",
              "value": "={{ $node[\"Function - JSON Validator\"].json.strengths }}",
              "type": "string"
            },
            {
              "id": "85701683-ff60-41f7-ab8e-4bd691794d63",
              "name": "weaknesses",
              "value": "={{ $node[\"Function - JSON Validator\"].json.weaknesses }}",
              "type": "string"
            },
            {
              "id": "ed8c363c-a5a5-4101-af30-e5dfa716b520",
              "name": "recommendation",
              "value": "={{ $node[\"Function - JSON Validator\"].json.recommendation }}",
              "type": "string"
            },
            {
              "id": "8a407aa4-3992-468b-83e6-6664b985f9e5",
              "name": "key_insights",
              "value": "={{ $node[\"Function - JSON Validator\"].json.key_insights }}",
              "type": "string"
            },
            {
              "id": "210004e4-76b1-4b56-8e67-568d0872caf3",
              "name": "interview_questions",
              "value": "={{ $node[\"Function - JSON Validator\"].json.interview_questions }}",
              "type": "string"
            },
            {
              "id": "7c20bdc0-519b-4fa6-b388-7efd6034a794",
              "name": "email_sent",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        448
      ],
      "id": "010ec31c-fe43-40c0-b278-3a6eac3e27b6",
      "name": "Merge Email + Analysis Data"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.votre_email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -48,
        432
      ],
      "id": "e45615a5-969b-4636-af2c-8780c0ec0b42",
      "name": "Supabase - Get User Language",
      "credentials": {
        "supabaseApi": {
          "id": "RsG0CR5F5zJGpBIJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupère les données d'origine (AVANT l'appel à l'IA)\nconst originalData = $node[\"Prepare Mammouth Request\"].json;\n\n// Extrait la réponse JSON de l'IA depuis l'input de ce noeud\nconst aiResponse = $input.item.json.choices[0].message.content;\n\n// Parse le JSON de l'IA\nlet parsedAnalysis = {};\ntry {\n  // Nettoie la réponse de l'IA (supprime les ```json et ```)\n  const cleanedResult = aiResponse.replace(/```json/g, '').replace(/```/g, '').trim();\n  parsedAnalysis = JSON.parse(cleanedResult);\n} catch (e) {\n  console.log(\"Erreur de parsing JSON de l'IA\", e);\n  parsedAnalysis = { error: \"Invalid JSON from AI\" };\n}\n\n// Fusionne les données d'origine avec les données de l'IA\nconst mergedData = { ...originalData, ...parsedAnalysis };\n\n// Retourne les données fusionnées\nreturn {\n  json: mergedData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        432
      ],
      "id": "9fc67b0a-1d65-4502-a2cf-b78ae965db47",
      "name": "Code - Extract and Merge AI Response"
    },
    {
      "parameters": {
        "jsCode": "const puppeteer = require('puppeteer');\n\n// Récupère l'URL de l'offre depuis le nœud précédent\nconst jobUrl = $input.item.json.url_de_l_offre_d_emploi;\n\n// Fonction asynchrone pour scraper avec Puppeteer\nasync function scrapeWithPuppeteer(url) {\n  let browser = null;\n  try {\n    // Lance le navigateur en mode headless\n    // L'argument '--no-sandbox' est souvent nécessaire dans les environnements conteneurisés\n    browser = await puppeteer.launch({\n      headless: true,\n      args: ['--no-sandbox', '--disable-setuid-sandbox']\n    });\n    \n    const page = await browser.newPage();\n    \n    // Se faire passer pour un navigateur normal\n    await page.setUserAgent('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36');\n    \n    // Navigue vers l'URL et attend que la page soit complètement chargée\n    await page.goto(url, { waitUntil: 'networkidle2', timeout: 30000 });\n    \n    // Attend un sélecteur spécifique à la page de l'offre pour être sûr que le contenu est là\n    // Par exemple, pour Welcome to the Jungle, on peut attendre la section de description.\n    // (Ce sélecteur peut avoir besoin d'être ajusté si le site change)\n    await page.waitForSelector('main', { timeout: 10000 });\n\n    // Récupère le contenu HTML complet de la page\n    const content = await page.content();\n    \n    return content;\n\n  } catch (error) {\n    console.error(`Erreur de scraping avec Puppeteer pour l'URL : ${url}`, error.message);\n    return \"\"; // Retourne une chaîne vide en cas d'erreur\n  } finally {\n    // Ferme le navigateur dans tous les cas\n    if (browser) {\n      await browser.close();\n    }\n  }\n}\n\n// Exécute la fonction de scraping\nconst htmlContent = await scrapeWithPuppeteer(jobUrl);\n\n// Fonction simple pour nettoyer le HTML (la même qu'avant)\nfunction stripHtml(htmlString) {\n  if (!htmlString) return '';\n  let cleaned = htmlString.replace(/<script[^>]*>([\\S\\s]*?)<\\/script>/gmi, '');\n  cleaned = cleaned.replace(/<style[^>]*>([\\S\\s]*?)<\\/style>/gmi, '');\n  cleaned = cleaned.replace(/<!--[\\s\\S]*?-->/g, '');\n  cleaned = cleaned.replace(/<[^>]+>/g, ' ').replace(/&nbsp;/g, ' ');\n  cleaned = cleaned.replace(/\\s\\s+/g, ' ').trim();\n  return cleaned;\n}\n\nconst jobText = stripHtml(htmlContent);\n\nconsole.log(`Scraping terminé. Longueur du texte de l'offre : ${jobText.length}`);\n\n// Retourne les données de l'offre et l'URL d'origine\nreturn {\n  json: {\n    job_url: jobUrl,\n    data: jobText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        800
      ],
      "id": "cbd3874b-95eb-4196-b054-ba3461de4bf9",
      "name": "Code - Fetch Job Description"
    }
  ],
  "pinData": {},
  "connections": {
    "Form Trigger - Upload CV": {
      "main": [
        [
          {
            "node": "Extract - CV PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Fetch Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - CV PDF": {
      "main": [
        [
          {
            "node": "Add Email to CV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mammouth Request": {
      "main": [
        [
          {
            "node": "Mammouth.ai - CV Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mammouth.ai - CV Analysis": {
      "main": [
        [
          {
            "node": "Code - Extract and Merge AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - JSON Validator": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge Email + Analysis Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Debug - Check Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Supabase - Get User Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge CV + Job Data": {
      "main": [
        [
          {
            "node": "Prepare Mammouth Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug - Check Email": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Email to CV Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Email + Analysis Data": {
      "main": [
        [
          {
            "node": "Supabase - Save Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get User Language": {
      "main": [
        [
          {
            "node": "Merge CV + Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract and Merge AI Response": {
      "main": [
        [
          {
            "node": "Function - JSON Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Fetch Job Description": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "7q3xz5vy2SWghLGg"
  },
  "versionId": "698ec20d-1366-438b-864a-3f7c2834cb2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ffe9a71d241431c7cc543016b230314e7cc4479cad7629ec14b2bc8fc346801"
  },
  "id": "7q3xz5vy2SWghLGg",
  "tags": [
    {
      "createdAt": "2025-10-11T18:16:52.491Z",
      "updatedAt": "2025-10-11T18:16:52.491Z",
      "id": "x2PqPzJTXZeOjb2s",
      "name": "Mammouth.ai"
    },
    {
      "createdAt": "2025-10-11T18:16:52.492Z",
      "updatedAt": "2025-10-11T18:16:52.492Z",
      "id": "LeVMosm1ITGxuftx",
      "name": "JobNexAI"
    },
    {
      "createdAt": "2025-10-11T18:16:52.501Z",
      "updatedAt": "2025-10-11T18:16:52.501Z",
      "id": "df4K1RL9IbmUFDIM",
      "name": "CV Screening"
    }
  ]
}