n8n-workflows/job-scraping-workflow.json
{
  "name": "JobNexAI - Multi-Source Job Scraping",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-search",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Job Search Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "job-search"
    },
    {
      "parameters": {
        "jsCode": "// Extrait et valide les critères de recherche\nconst input = $input.first().json;\n\nconst searchCriteria = {\n  query: input.query || input.searchQuery || '',\n  location: input.location || 'France',\n  contract_type: input.contract_type || input.contractType || 'all',\n  experience_level: input.experience_level || input.experienceLevel || 'all',\n  remote: input.remote || false,\n  salary_min: input.salary_min || input.salaryMin || null,\n  salary_max: input.salary_max || input.salaryMax || null,\n  max_results: input.max_results || input.maxResults || 20,\n  selected_sites: input.selected_sites || input.selectedSites || ['indeed', 'linkedin', 'malt', 'free-work', 'wttj'],\n  user_id: input.user_id || input.userId || null,\n  user_email: input.user_email || input.userEmail || null,\n  session_id: input.session_id || `session_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n  timestamp: new Date().toISOString()\n};\n\n// Validation\nif (!searchCriteria.query || searchCriteria.query.trim() === '') {\n  throw new Error('Le champ \"query\" est requis pour effectuer une recherche');\n}\n\nconsole.log('=== Critères de recherche validés ===');\nconsole.log('Query:', searchCriteria.query);\nconsole.log('Location:', searchCriteria.location);\nconsole.log('Sites sélectionnés:', searchCriteria.selected_sites.join(', '));\n\nreturn { json: searchCriteria };"
      },
      "id": "validate-criteria",
      "name": "Validate Search Criteria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "scraping_sessions",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id", "fieldValue": "={{ $json.session_id }}" },
            { "fieldId": "user_id", "fieldValue": "={{ $json.user_id }}" },
            { "fieldId": "criteria", "fieldValue": "={{ JSON.stringify({ query: $json.query, location: $json.location, contract_type: $json.contract_type, experience_level: $json.experience_level, remote: $json.remote, salary_min: $json.salary_min, salary_max: $json.salary_max }) }}" },
            { "fieldId": "selected_sites", "fieldValue": "={{ $json.selected_sites }}" },
            { "fieldId": "status", "fieldValue": "running" },
            { "fieldId": "total_jobs", "fieldValue": "0" },
            { "fieldId": "scraped_jobs", "fieldValue": "0" }
          ]
        }
      },
      "id": "create-session",
      "name": "Supabase - Create Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 400],
      "credentials": {
        "supabaseApi": {
          "id": "RsG0CR5F5zJGpBIJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prépare les requêtes pour chaque site sélectionné\nconst criteria = $node['Validate Search Criteria'].json;\nconst selectedSites = criteria.selected_sites;\n\nconst siteConfigs = {\n  'indeed': {\n    name: 'Indeed',\n    baseUrl: 'https://fr.indeed.com/emplois',\n    searchParams: (q, loc) => `?q=${encodeURIComponent(q)}&l=${encodeURIComponent(loc)}`,\n    category: 'cdi_cdd'\n  },\n  'linkedin': {\n    name: 'LinkedIn Jobs',\n    baseUrl: 'https://www.linkedin.com/jobs/search',\n    searchParams: (q, loc) => `?keywords=${encodeURIComponent(q)}&location=${encodeURIComponent(loc)}`,\n    category: 'cdi_cdd'\n  },\n  'malt': {\n    name: 'Malt',\n    baseUrl: 'https://www.malt.fr/s',\n    searchParams: (q, loc) => `?q=${encodeURIComponent(q)}&searchCity=${encodeURIComponent(loc)}`,\n    category: 'freelance'\n  },\n  'free-work': {\n    name: 'Free-Work',\n    baseUrl: 'https://www.free-work.com/fr/tech-it/jobs',\n    searchParams: (q, loc) => `?query=${encodeURIComponent(q)}&localisation=${encodeURIComponent(loc)}`,\n    category: 'freelance'\n  },\n  'wttj': {\n    name: 'Welcome to the Jungle',\n    baseUrl: 'https://www.welcometothejungle.com/fr/jobs',\n    searchParams: (q, loc) => `?query=${encodeURIComponent(q)}&aroundQuery=${encodeURIComponent(loc)}`,\n    category: 'cdi_cdd'\n  }\n};\n\nconst scrapingTasks = selectedSites\n  .filter(site => siteConfigs[site])\n  .map(site => {\n    const config = siteConfigs[site];\n    return {\n      site_id: site,\n      site_name: config.name,\n      category: config.category,\n      search_url: config.baseUrl + config.searchParams(criteria.query, criteria.location),\n      query: criteria.query,\n      location: criteria.location,\n      contract_type: criteria.contract_type,\n      experience_level: criteria.experience_level,\n      remote: criteria.remote,\n      max_results: Math.ceil(criteria.max_results / selectedSites.length),\n      session_id: criteria.session_id,\n      user_id: criteria.user_id\n    };\n  });\n\nconsole.log(`Préparation de ${scrapingTasks.length} tâches de scraping`);\n\nreturn scrapingTasks.map(task => ({ json: task }));"
      },
      "id": "prepare-scraping-tasks",
      "name": "Prepare Scraping Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "cond-indeed", "leftValue": "={{ $json.site_id }}", "rightValue": "indeed", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "route-indeed",
      "name": "Route Indeed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "cond-linkedin", "leftValue": "={{ $json.site_id }}", "rightValue": "linkedin", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "route-linkedin",
      "name": "Route LinkedIn",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "cond-freelance", "leftValue": "={{ $json.category }}", "rightValue": "freelance", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "route-freelance",
      "name": "Route Freelance (Malt/Free-Work)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "jsCode": "// Scraper Indeed via API ou simulation\nconst task = $input.first().json;\n\nconsole.log(`=== Scraping Indeed ===`);\nconsole.log('URL:', task.search_url);\n\n// Simulation de résultats Indeed (à remplacer par vrai scraping)\nconst mockJobs = [\n  {\n    title: `${task.query} - CDI`,\n    company: 'TechCorp France',\n    location: task.location,\n    salary: '45 000 - 55 000 EUR/an',\n    contract_type: 'CDI',\n    experience_level: 'Confirmé',\n    description: `Poste de ${task.query} en CDI. Nous recherchons un profil expérimenté...`,\n    url: `https://fr.indeed.com/viewjob?jk=abc123`,\n    posted_date: new Date(Date.now() - 2 * 24 * 60 * 60 * 1000).toISOString(),\n    source: 'indeed',\n    remote: task.remote ? 'Télétravail partiel' : 'Sur site'\n  },\n  {\n    title: `Senior ${task.query}`,\n    company: 'StartupAI',\n    location: task.location,\n    salary: '55 000 - 70 000 EUR/an',\n    contract_type: 'CDI',\n    experience_level: 'Senior',\n    description: `Rejoignez notre équipe en tant que Senior ${task.query}...`,\n    url: `https://fr.indeed.com/viewjob?jk=def456`,\n    posted_date: new Date(Date.now() - 1 * 24 * 60 * 60 * 1000).toISOString(),\n    source: 'indeed',\n    remote: 'Full remote'\n  },\n  {\n    title: `${task.query} Junior`,\n    company: 'ConsultingPro',\n    location: task.location,\n    salary: '35 000 - 42 000 EUR/an',\n    contract_type: 'CDI',\n    experience_level: 'Junior',\n    description: `Opportunité pour un ${task.query} junior motivé...`,\n    url: `https://fr.indeed.com/viewjob?jk=ghi789`,\n    posted_date: new Date().toISOString(),\n    source: 'indeed',\n    remote: 'Sur site'\n  }\n];\n\nconst jobs = mockJobs.slice(0, task.max_results).map((job, index) => ({\n  ...job,\n  id: `indeed_${task.session_id}_${index}`,\n  session_id: task.session_id,\n  scraped_at: new Date().toISOString()\n}));\n\nconsole.log(`Indeed: ${jobs.length} offres trouvées`);\n\nreturn jobs.map(job => ({ json: job }));"
      },
      "id": "scrape-indeed",
      "name": "Scrape Indeed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 100]
    },
    {
      "parameters": {
        "jsCode": "// Scraper LinkedIn via Google Custom Search API (méthode recommandée)\nconst task = $input.first().json;\n\nconsole.log(`=== Scraping LinkedIn ===`);\nconsole.log('URL:', task.search_url);\n\n// Simulation de résultats LinkedIn\nconst mockJobs = [\n  {\n    title: `${task.query} - Entreprise internationale`,\n    company: 'GlobalTech Solutions',\n    location: task.location,\n    salary: '50 000 - 65 000 EUR/an',\n    contract_type: 'CDI',\n    experience_level: 'Confirmé',\n    description: `Nous recrutons un ${task.query} pour rejoindre notre équipe...`,\n    url: `https://www.linkedin.com/jobs/view/12345678`,\n    posted_date: new Date(Date.now() - 3 * 24 * 60 * 60 * 1000).toISOString(),\n    source: 'linkedin',\n    remote: 'Hybride'\n  },\n  {\n    title: `Lead ${task.query}`,\n    company: 'InnovateTech',\n    location: task.location,\n    salary: '70 000 - 85 000 EUR/an',\n    contract_type: 'CDI',\n    experience_level: 'Lead/Manager',\n    description: `Poste de Lead ${task.query} avec management d'équipe...`,\n    url: `https://www.linkedin.com/jobs/view/23456789`,\n    posted_date: new Date(Date.now() - 5 * 24 * 60 * 60 * 1000).toISOString(),\n    source: 'linkedin',\n    remote: 'Full remote'\n  }\n];\n\nconst jobs = mockJobs.slice(0, task.max_results).map((job, index) => ({\n  ...job,\n  id: `linkedin_${task.session_id}_${index}`,\n  session_id: task.session_id,\n  scraped_at: new Date().toISOString()\n}));\n\nconsole.log(`LinkedIn: ${jobs.length} offres trouvées`);\n\nreturn jobs.map(job => ({ json: job }));"
      },
      "id": "scrape-linkedin",
      "name": "Scrape LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "// Scraper Malt et Free-Work (plateformes freelance)\nconst task = $input.first().json;\n\nconsole.log(`=== Scraping ${task.site_name} ===`);\nconsole.log('URL:', task.search_url);\n\nlet mockJobs = [];\n\nif (task.site_id === 'malt') {\n  mockJobs = [\n    {\n      title: `Mission ${task.query} - 6 mois`,\n      company: 'Client Malt',\n      location: task.location,\n      salary: '500 - 650 EUR/jour',\n      contract_type: 'Freelance',\n      experience_level: 'Confirmé',\n      description: `Mission freelance de 6 mois pour un ${task.query}...`,\n      url: `https://www.malt.fr/project/abc123`,\n      posted_date: new Date(Date.now() - 1 * 24 * 60 * 60 * 1000).toISOString(),\n      source: 'malt',\n      remote: 'Télétravail partiel',\n      duration: '6 mois'\n    },\n    {\n      title: `${task.query} Expert - Startup`,\n      company: 'Startup Tech',\n      location: task.location,\n      salary: '600 - 750 EUR/jour',\n      contract_type: 'Freelance',\n      experience_level: 'Expert',\n      description: `Recherche ${task.query} expert pour mission stratégique...`,\n      url: `https://www.malt.fr/project/def456`,\n      posted_date: new Date().toISOString(),\n      source: 'malt',\n      remote: 'Full remote',\n      duration: '3 mois renouvelable'\n    }\n  ];\n} else if (task.site_id === 'free-work') {\n  mockJobs = [\n    {\n      title: `${task.query} - Mission longue durée`,\n      company: 'ESN Partenaire',\n      location: task.location,\n      salary: '450 - 550 EUR/jour',\n      contract_type: 'Freelance',\n      experience_level: 'Confirmé',\n      description: `Mission longue durée pour un ${task.query}...`,\n      url: `https://www.free-work.com/fr/tech-it/job/xyz789`,\n      posted_date: new Date(Date.now() - 2 * 24 * 60 * 60 * 1000).toISOString(),\n      source: 'free-work',\n      remote: 'Hybride',\n      duration: '12 mois'\n    },\n    {\n      title: `${task.query} Senior - Banque`,\n      company: 'Grande Banque',\n      location: task.location,\n      salary: '550 - 700 EUR/jour',\n      contract_type: 'Freelance',\n      experience_level: 'Senior',\n      description: `Secteur bancaire, recherche ${task.query} senior...`,\n      url: `https://www.free-work.com/fr/tech-it/job/uvw456`,\n      posted_date: new Date(Date.now() - 4 * 24 * 60 * 60 * 1000).toISOString(),\n      source: 'free-work',\n      remote: 'Sur site',\n      duration: '6 mois renouvelable'\n    }\n  ];\n}\n\nconst jobs = mockJobs.slice(0, task.max_results).map((job, index) => ({\n  ...job,\n  id: `${task.site_id}_${task.session_id}_${index}`,\n  session_id: task.session_id,\n  scraped_at: new Date().toISOString()\n}));\n\nconsole.log(`${task.site_name}: ${jobs.length} offres trouvées`);\n\nreturn jobs.map(job => ({ json: job }));"
      },
      "id": "scrape-freelance",
      "name": "Scrape Freelance Sites",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 500]
    },
    {
      "parameters": {
        "jsCode": "// Scraper WTTJ\nconst task = $input.first().json;\n\nconsole.log(`=== Scraping Welcome to the Jungle ===`);\nconsole.log('URL:', task.search_url);\n\nconst mockJobs = [\n  {\n    title: `${task.query} - Scale-up en croissance`,\n    company: 'TechScale',\n    location: task.location,\n    salary: '48 000 - 58 000 EUR/an',\n    contract_type: 'CDI',\n    experience_level: 'Confirmé',\n    description: `Rejoignez une scale-up en pleine croissance en tant que ${task.query}...`,\n    url: `https://www.welcometothejungle.com/fr/companies/techscale/jobs/abc123`,\n    posted_date: new Date(Date.now() - 1 * 24 * 60 * 60 * 1000).toISOString(),\n    source: 'wttj',\n    remote: 'Télétravail partiel',\n    company_size: '50-200 employés'\n  },\n  {\n    title: `${task.query} - Startup IA`,\n    company: 'AIStartup',\n    location: task.location,\n    salary: '52 000 - 68 000 EUR/an',\n    contract_type: 'CDI',\n    experience_level: 'Confirmé',\n    description: `Startup spécialisée en IA recherche ${task.query}...`,\n    url: `https://www.welcometothejungle.com/fr/companies/aistartup/jobs/def456`,\n    posted_date: new Date().toISOString(),\n    source: 'wttj',\n    remote: 'Full remote',\n    company_size: '10-50 employés'\n  },\n  {\n    title: `${task.query} Junior - Fintech`,\n    company: 'FintechPay',\n    location: task.location,\n    salary: '38 000 - 45 000 EUR/an',\n    contract_type: 'CDI',\n    experience_level: 'Junior',\n    description: `Fintech innovante cherche ${task.query} junior...`,\n    url: `https://www.welcometothejungle.com/fr/companies/fintechpay/jobs/ghi789`,\n    posted_date: new Date(Date.now() - 3 * 24 * 60 * 60 * 1000).toISOString(),\n    source: 'wttj',\n    remote: 'Hybride',\n    company_size: '200-500 employés'\n  }\n];\n\nconst jobs = mockJobs.slice(0, task.max_results).map((job, index) => ({\n  ...job,\n  id: `wttj_${task.session_id}_${index}`,\n  session_id: task.session_id,\n  scraped_at: new Date().toISOString()\n}));\n\nconsole.log(`WTTJ: ${jobs.length} offres trouvées`);\n\nreturn jobs.map(job => ({ json: job }));"
      },
      "id": "scrape-wttj",
      "name": "Scrape WTTJ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 700]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "jsCode": "// Déduplique les offres similaires\nconst allJobs = $input.all().map(item => item.json);\n\nconsole.log(`=== Déduplication ===`);\nconsole.log(`Offres avant déduplication: ${allJobs.length}`);\n\n// Fonction de normalisation pour comparaison\nfunction normalize(str) {\n  return (str || '').toLowerCase().trim().replace(/[^a-z0-9]/g, '');\n}\n\n// Fonction de calcul de similarité (Jaccard)\nfunction similarity(str1, str2) {\n  const s1 = new Set(normalize(str1).split(''));\n  const s2 = new Set(normalize(str2).split(''));\n  const intersection = new Set([...s1].filter(x => s2.has(x)));\n  const union = new Set([...s1, ...s2]);\n  return intersection.size / union.size;\n}\n\n// Détection des doublons\nconst uniqueJobs = [];\nconst seenSignatures = new Map();\n\nfor (const job of allJobs) {\n  // Créer une signature basée sur titre + entreprise + localisation\n  const signature = `${normalize(job.title)}_${normalize(job.company)}_${normalize(job.location)}`;\n  \n  let isDuplicate = false;\n  \n  for (const [existingSignature, existingJob] of seenSignatures) {\n    // Vérifier similarité du titre et de l'entreprise\n    const titleSim = similarity(job.title, existingJob.title);\n    const companySim = similarity(job.company, existingJob.company);\n    \n    if (titleSim > 0.8 && companySim > 0.8) {\n      isDuplicate = true;\n      console.log(`Doublon détecté: \"${job.title}\" (${job.source}) ~ \"${existingJob.title}\" (${existingJob.source})`);\n      break;\n    }\n  }\n  \n  if (!isDuplicate) {\n    seenSignatures.set(signature, job);\n    uniqueJobs.push(job);\n  }\n}\n\nconsole.log(`Offres après déduplication: ${uniqueJobs.length}`);\n\n// Trier par date de publication (plus récent en premier)\nuniqueJobs.sort((a, b) => new Date(b.posted_date) - new Date(a.posted_date));\n\nreturn uniqueJobs.map(job => ({ json: job }));"
      },
      "id": "deduplicate-jobs",
      "name": "Deduplicate Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "scraped_jobs",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id", "fieldValue": "={{ $json.id }}" },
            { "fieldId": "session_id", "fieldValue": "={{ $json.session_id }}" },
            { "fieldId": "site_name", "fieldValue": "={{ $json.source }}" },
            { "fieldId": "title", "fieldValue": "={{ $json.title }}" },
            { "fieldId": "company", "fieldValue": "={{ $json.company }}" },
            { "fieldId": "location", "fieldValue": "={{ $json.location }}" },
            { "fieldId": "salary", "fieldValue": "={{ $json.salary }}" },
            { "fieldId": "contract_type", "fieldValue": "={{ $json.contract_type }}" },
            { "fieldId": "experience_level", "fieldValue": "={{ $json.experience_level }}" },
            { "fieldId": "description", "fieldValue": "={{ $json.description }}" },
            { "fieldId": "url", "fieldValue": "={{ $json.url }}" },
            { "fieldId": "posted_date", "fieldValue": "={{ $json.posted_date }}" },
            { "fieldId": "scraped_at", "fieldValue": "={{ $json.scraped_at }}" }
          ]
        }
      },
      "id": "save-jobs",
      "name": "Supabase - Save Jobs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 400],
      "credentials": {
        "supabaseApi": {
          "id": "RsG0CR5F5zJGpBIJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Génère la page HTML des résultats\nconst allJobs = $input.all().map(item => item.json);\nconst criteria = $node['Validate Search Criteria'].json;\n\nconsole.log(`=== Génération HTML ===`);\nconsole.log(`Nombre d'offres: ${allJobs.length}`);\n\n// Grouper par source\nconst jobsBySource = {};\nfor (const job of allJobs) {\n  if (!jobsBySource[job.source]) {\n    jobsBySource[job.source] = [];\n  }\n  jobsBySource[job.source].push(job);\n}\n\n// Sources avec leurs couleurs\nconst sourceColors = {\n  'indeed': '#2164f3',\n  'linkedin': '#0a66c2',\n  'malt': '#fc5757',\n  'free-work': '#00b4d8',\n  'wttj': '#ffcd00'\n};\n\nconst sourceNames = {\n  'indeed': 'Indeed',\n  'linkedin': 'LinkedIn',\n  'malt': 'Malt',\n  'free-work': 'Free-Work',\n  'wttj': 'Welcome to the Jungle'\n};\n\n// Fonction pour formater la date\nfunction formatDate(dateStr) {\n  const date = new Date(dateStr);\n  const now = new Date();\n  const diffDays = Math.floor((now - date) / (1000 * 60 * 60 * 24));\n  \n  if (diffDays === 0) return \"Aujourd'hui\";\n  if (diffDays === 1) return 'Hier';\n  if (diffDays < 7) return `Il y a ${diffDays} jours`;\n  return date.toLocaleDateString('fr-FR', { day: 'numeric', month: 'short', year: 'numeric' });\n}\n\n// Générer le HTML\nlet jobCardsHtml = '';\n\nfor (const job of allJobs) {\n  const sourceColor = sourceColors[job.source] || '#6c757d';\n  const sourceName = sourceNames[job.source] || job.source;\n  const remoteIcon = job.remote?.toLowerCase().includes('remote') || job.remote?.toLowerCase().includes('télétravail') ? '🏠' : '🏢';\n  const contractIcon = job.contract_type === 'Freelance' ? '💼' : '📋';\n  \n  jobCardsHtml += `\n    <div class=\"job-card\" data-source=\"${job.source}\">\n      <div class=\"job-header\">\n        <span class=\"source-badge\" style=\"background-color: ${sourceColor}\">${sourceName}</span>\n        <span class=\"posted-date\">${formatDate(job.posted_date)}</span>\n      </div>\n      <h3 class=\"job-title\">\n        <a href=\"${job.url}\" target=\"_blank\" rel=\"noopener noreferrer\">${job.title}</a>\n      </h3>\n      <div class=\"job-company\">\n        <strong>${job.company}</strong>\n      </div>\n      <div class=\"job-details\">\n        <span class=\"detail\">📍 ${job.location}</span>\n        <span class=\"detail\">${contractIcon} ${job.contract_type}</span>\n        <span class=\"detail\">${remoteIcon} ${job.remote || 'Non précisé'}</span>\n        ${job.salary ? `<span class=\"detail\">💰 ${job.salary}</span>` : ''}\n        ${job.experience_level ? `<span class=\"detail\">📊 ${job.experience_level}</span>` : ''}\n        ${job.duration ? `<span class=\"detail\">⏱️ ${job.duration}</span>` : ''}\n      </div>\n      <p class=\"job-description\">${job.description.substring(0, 200)}...</p>\n      <a href=\"${job.url}\" target=\"_blank\" rel=\"noopener noreferrer\" class=\"apply-btn\">Voir l'offre →</a>\n    </div>\n  `;\n}\n\n// Stats par source\nlet statsHtml = '';\nfor (const [source, jobs] of Object.entries(jobsBySource)) {\n  const color = sourceColors[source] || '#6c757d';\n  const name = sourceNames[source] || source;\n  statsHtml += `<span class=\"stat-badge\" style=\"background-color: ${color}\">${name}: ${jobs.length}</span>`;\n}\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Résultats de recherche - ${criteria.query} | JobNexAI</title>\n  <style>\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    \n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      min-height: 100vh;\n      padding: 20px;\n    }\n    \n    .container {\n      max-width: 1200px;\n      margin: 0 auto;\n    }\n    \n    .header {\n      background: white;\n      border-radius: 16px;\n      padding: 24px;\n      margin-bottom: 24px;\n      box-shadow: 0 10px 40px rgba(0,0,0,0.1);\n    }\n    \n    .header h1 {\n      color: #1a1a2e;\n      font-size: 28px;\n      margin-bottom: 8px;\n    }\n    \n    .search-info {\n      color: #6c757d;\n      font-size: 14px;\n      margin-bottom: 16px;\n    }\n    \n    .stats {\n      display: flex;\n      flex-wrap: wrap;\n      gap: 8px;\n      margin-bottom: 16px;\n    }\n    \n    .stat-badge {\n      color: white;\n      padding: 6px 12px;\n      border-radius: 20px;\n      font-size: 13px;\n      font-weight: 500;\n    }\n    \n    .total-badge {\n      background: linear-gradient(135deg, #667eea, #764ba2);\n      color: white;\n      padding: 8px 16px;\n      border-radius: 20px;\n      font-weight: 600;\n    }\n    \n    .filters {\n      display: flex;\n      flex-wrap: wrap;\n      gap: 8px;\n      margin-top: 16px;\n    }\n    \n    .filter-btn {\n      background: #f8f9fa;\n      border: 2px solid #e9ecef;\n      padding: 8px 16px;\n      border-radius: 20px;\n      cursor: pointer;\n      font-size: 13px;\n      transition: all 0.2s;\n    }\n    \n    .filter-btn:hover, .filter-btn.active {\n      background: #667eea;\n      border-color: #667eea;\n      color: white;\n    }\n    \n    .jobs-grid {\n      display: grid;\n      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));\n      gap: 20px;\n    }\n    \n    .job-card {\n      background: white;\n      border-radius: 12px;\n      padding: 20px;\n      box-shadow: 0 4px 20px rgba(0,0,0,0.08);\n      transition: transform 0.2s, box-shadow 0.2s;\n    }\n    \n    .job-card:hover {\n      transform: translateY(-4px);\n      box-shadow: 0 8px 30px rgba(0,0,0,0.12);\n    }\n    \n    .job-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    \n    .source-badge {\n      color: white;\n      padding: 4px 10px;\n      border-radius: 12px;\n      font-size: 11px;\n      font-weight: 600;\n      text-transform: uppercase;\n    }\n    \n    .posted-date {\n      color: #6c757d;\n      font-size: 12px;\n    }\n    \n    .job-title {\n      font-size: 18px;\n      margin-bottom: 8px;\n      line-height: 1.3;\n    }\n    \n    .job-title a {\n      color: #1a1a2e;\n      text-decoration: none;\n    }\n    \n    .job-title a:hover {\n      color: #667eea;\n    }\n    \n    .job-company {\n      color: #495057;\n      margin-bottom: 12px;\n      font-size: 15px;\n    }\n    \n    .job-details {\n      display: flex;\n      flex-wrap: wrap;\n      gap: 8px;\n      margin-bottom: 12px;\n    }\n    \n    .detail {\n      background: #f8f9fa;\n      padding: 4px 8px;\n      border-radius: 6px;\n      font-size: 12px;\n      color: #495057;\n    }\n    \n    .job-description {\n      color: #6c757d;\n      font-size: 13px;\n      line-height: 1.5;\n      margin-bottom: 16px;\n    }\n    \n    .apply-btn {\n      display: inline-block;\n      background: linear-gradient(135deg, #667eea, #764ba2);\n      color: white;\n      padding: 10px 20px;\n      border-radius: 8px;\n      text-decoration: none;\n      font-weight: 500;\n      font-size: 14px;\n      transition: transform 0.2s, box-shadow 0.2s;\n    }\n    \n    .apply-btn:hover {\n      transform: translateY(-2px);\n      box-shadow: 0 4px 15px rgba(102, 126, 234, 0.4);\n    }\n    \n    .no-results {\n      text-align: center;\n      padding: 60px;\n      background: white;\n      border-radius: 16px;\n    }\n    \n    .no-results h2 {\n      color: #6c757d;\n      margin-bottom: 16px;\n    }\n    \n    .footer {\n      text-align: center;\n      margin-top: 40px;\n      color: white;\n      opacity: 0.8;\n      font-size: 14px;\n    }\n    \n    .footer a {\n      color: white;\n      text-decoration: underline;\n    }\n    \n    @media (max-width: 768px) {\n      .jobs-grid {\n        grid-template-columns: 1fr;\n      }\n      \n      .header h1 {\n        font-size: 22px;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🔍 Résultats pour \"${criteria.query}\"</h1>\n      <p class=\"search-info\">\n        📍 ${criteria.location} • \n        🕐 Recherche effectuée le ${new Date().toLocaleDateString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit' })}\n      </p>\n      <div class=\"stats\">\n        <span class=\"total-badge\">📊 ${allJobs.length} offres trouvées</span>\n        ${statsHtml}\n      </div>\n      <div class=\"filters\">\n        <button class=\"filter-btn active\" onclick=\"filterJobs('all')\">Tous</button>\n        <button class=\"filter-btn\" onclick=\"filterJobs('cdi')\">CDI/CDD</button>\n        <button class=\"filter-btn\" onclick=\"filterJobs('freelance')\">Freelance</button>\n        ${Object.keys(jobsBySource).map(source => \n          `<button class=\"filter-btn\" onclick=\"filterJobs('${source}')\">${sourceNames[source]}</button>`\n        ).join('')}\n      </div>\n    </div>\n    \n    ${allJobs.length > 0 ? `\n      <div class=\"jobs-grid\">\n        ${jobCardsHtml}\n      </div>\n    ` : `\n      <div class=\"no-results\">\n        <h2>😔 Aucune offre trouvée</h2>\n        <p>Essayez de modifier vos critères de recherche ou d'élargir la zone géographique.</p>\n      </div>\n    `}\n    \n    <div class=\"footer\">\n      <p>Propulsé par <a href=\"https://jobnexai.com\">JobNexAI</a> • Session: ${criteria.session_id}</p>\n    </div>\n  </div>\n  \n  <script>\n    function filterJobs(filter) {\n      const cards = document.querySelectorAll('.job-card');\n      const buttons = document.querySelectorAll('.filter-btn');\n      \n      buttons.forEach(btn => btn.classList.remove('active'));\n      event.target.classList.add('active');\n      \n      cards.forEach(card => {\n        const source = card.dataset.source;\n        let show = false;\n        \n        if (filter === 'all') {\n          show = true;\n        } else if (filter === 'cdi') {\n          show = ['indeed', 'linkedin', 'wttj'].includes(source);\n        } else if (filter === 'freelance') {\n          show = ['malt', 'free-work'].includes(source);\n        } else {\n          show = source === filter;\n        }\n        \n        card.style.display = show ? 'block' : 'none';\n      });\n    }\n  </script>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    html: html,\n    session_id: criteria.session_id,\n    total_jobs: allJobs.length,\n    jobs_by_source: Object.fromEntries(\n      Object.entries(jobsBySource).map(([k, v]) => [k, v.length])\n    ),\n    criteria: criteria\n  }\n};"
      },
      "id": "generate-html",
      "name": "Generate HTML Results Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scraping_sessions",
        "matchingColumns": ["id"],
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id", "fieldValue": "={{ $json.session_id }}" },
            { "fieldId": "status", "fieldValue": "completed" },
            { "fieldId": "total_jobs", "fieldValue": "={{ $json.total_jobs }}" },
            { "fieldId": "scraped_jobs", "fieldValue": "={{ $json.total_jobs }}" }
          ]
        }
      },
      "id": "update-session",
      "name": "Supabase - Update Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2440, 400],
      "credentials": {
        "supabaseApi": {
          "id": "RsG0CR5F5zJGpBIJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" },
              { "name": "X-Session-Id", "value": "={{ $json.session_id }}" },
              { "name": "X-Total-Jobs", "value": "={{ $json.total_jobs }}" }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "cond-error", "leftValue": "={{ $json.error }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-errors",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1780, 600]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "workflow_errors",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "workflow_name", "fieldValue": "job-scraping" },
            { "fieldId": "error_type", "fieldValue": "scraping_error" },
            { "fieldId": "error_message", "fieldValue": "={{ $json.error }}" },
            { "fieldId": "severity", "fieldValue": "medium" },
            { "fieldId": "context", "fieldValue": "={{ JSON.stringify($json) }}" }
          ]
        }
      },
      "id": "log-error",
      "name": "Supabase - Log Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 700],
      "credentials": {
        "supabaseApi": {
          "id": "RsG0CR5F5zJGpBIJ",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Job Search Trigger": {
      "main": [[{ "node": "Validate Search Criteria", "type": "main", "index": 0 }]]
    },
    "Validate Search Criteria": {
      "main": [[{ "node": "Supabase - Create Session", "type": "main", "index": 0 }]]
    },
    "Supabase - Create Session": {
      "main": [[{ "node": "Prepare Scraping Tasks", "type": "main", "index": 0 }]]
    },
    "Prepare Scraping Tasks": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Split In Batches": {
      "main": [
        [
          { "node": "Route Indeed", "type": "main", "index": 0 },
          { "node": "Route LinkedIn", "type": "main", "index": 0 },
          { "node": "Route Freelance (Malt/Free-Work)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route Indeed": {
      "main": [
        [{ "node": "Scrape Indeed", "type": "main", "index": 0 }],
        [{ "node": "Scrape WTTJ", "type": "main", "index": 0 }]
      ]
    },
    "Route LinkedIn": {
      "main": [
        [{ "node": "Scrape LinkedIn", "type": "main", "index": 0 }],
        []
      ]
    },
    "Route Freelance (Malt/Free-Work)": {
      "main": [
        [{ "node": "Scrape Freelance Sites", "type": "main", "index": 0 }],
        []
      ]
    },
    "Scrape Indeed": {
      "main": [[{ "node": "Merge All Results", "type": "main", "index": 0 }]]
    },
    "Scrape LinkedIn": {
      "main": [[{ "node": "Merge All Results", "type": "main", "index": 0 }]]
    },
    "Scrape Freelance Sites": {
      "main": [[{ "node": "Merge All Results", "type": "main", "index": 0 }]]
    },
    "Scrape WTTJ": {
      "main": [[{ "node": "Merge All Results", "type": "main", "index": 0 }]]
    },
    "Merge All Results": {
      "main": [[{ "node": "Deduplicate Jobs", "type": "main", "index": 0 }]]
    },
    "Deduplicate Jobs": {
      "main": [
        [
          { "node": "Supabase - Save Jobs", "type": "main", "index": 0 },
          { "node": "Check for Errors", "type": "main", "index": 0 }
        ]
      ]
    },
    "Supabase - Save Jobs": {
      "main": [[{ "node": "Generate HTML Results Page", "type": "main", "index": 0 }]]
    },
    "Generate HTML Results Page": {
      "main": [[{ "node": "Supabase - Update Session", "type": "main", "index": 0 }]]
    },
    "Supabase - Update Session": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Check for Errors": {
      "main": [
        [{ "node": "Supabase - Log Error", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "7q3xz5vy2SWghLGg"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ffe9a71d241431c7cc543016b230314e7cc4479cad7629ec14b2bc8fc346801"
  },
  "id": "job-scraping-workflow",
  "tags": [
    {
      "id": "scraping-tag",
      "name": "Scraping"
    },
    {
      "id": "jobnexai-tag",
      "name": "JobNexAI"
    },
    {
      "id": "jobs-tag",
      "name": "Jobs"
    }
  ]
}
