n8n-workflows/job-scraping-workflow.json
{
  "name": "JobNexAI - Multi-Source Job Scraping (Firecrawl + Ollama)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-search",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Job Search Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "job-search"
    },
    {
      "parameters": {
        "jsCode": "// Extrait et valide les critères de recherche\nconst input = $input.first().json;\n\n// Configuration Firecrawl et Ollama (URLs Docker internes Coolify)\nconst FIRECRAWL_API_URL = $env.FIRECRAWL_API_URL || 'http://api-g48kgskgo8cooksg48s84coc-162904357390:3002';\nconst OLLAMA_API_URL = $env.OLLAMA_API_URL || 'http://ollama-n04oocg8o8k088ws8k4kss4g:11434';\n\nconst searchCriteria = {\n  query: input.query || input.searchQuery || '',\n  location: input.location || 'France',\n  contract_type: input.contract_type || input.contractType || 'all',\n  experience_level: input.experience_level || input.experienceLevel || 'all',\n  remote: input.remote || false,\n  salary_min: input.salary_min || input.salaryMin || null,\n  salary_max: input.salary_max || input.salaryMax || null,\n  max_results: input.max_results || input.maxResults || 20,\n  selected_sites: input.selected_sites || input.selectedSites || ['indeed', 'linkedin', 'malt', 'free-work', 'wttj'],\n  user_id: input.user_id || input.userId || null,\n  user_email: input.user_email || input.userEmail || null,\n  session_id: input.session_id || `session_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n  timestamp: new Date().toISOString(),\n  firecrawl_url: FIRECRAWL_API_URL,\n  ollama_url: OLLAMA_API_URL\n};\n\nif (!searchCriteria.query || searchCriteria.query.trim() === '') {\n  throw new Error('Le champ \"query\" est requis pour effectuer une recherche');\n}\n\nconsole.log('=== Critères de recherche validés ===');\nconsole.log('Query:', searchCriteria.query);\nconsole.log('Location:', searchCriteria.location);\nconsole.log('Firecrawl URL:', FIRECRAWL_API_URL);\nconsole.log('Ollama URL:', OLLAMA_API_URL);\n\nreturn { json: searchCriteria };"
      },
      "id": "validate-criteria",
      "name": "Validate Search Criteria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "scraping_sessions",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id", "fieldValue": "={{ $json.session_id }}" },
            { "fieldId": "user_id", "fieldValue": "={{ $json.user_id }}" },
            { "fieldId": "criteria", "fieldValue": "={{ JSON.stringify({ query: $json.query, location: $json.location, contract_type: $json.contract_type, experience_level: $json.experience_level, remote: $json.remote }) }}" },
            { "fieldId": "selected_sites", "fieldValue": "={{ $json.selected_sites }}" },
            { "fieldId": "status", "fieldValue": "running" },
            { "fieldId": "total_jobs", "fieldValue": "0" },
            { "fieldId": "scraped_jobs", "fieldValue": "0" }
          ]
        }
      },
      "id": "create-session",
      "name": "Supabase - Create Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 400],
      "credentials": {
        "supabaseApi": {
          "id": "RsG0CR5F5zJGpBIJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prépare les URLs de recherche pour chaque site\nconst criteria = $node['Validate Search Criteria'].json;\nconst selectedSites = criteria.selected_sites;\n\nconst siteConfigs = {\n  'indeed': {\n    name: 'Indeed',\n    searchUrl: `https://fr.indeed.com/emplois?q=${encodeURIComponent(criteria.query)}&l=${encodeURIComponent(criteria.location)}`,\n    jobUrlPattern: '/viewjob',\n    category: 'cdi_cdd'\n  },\n  'linkedin': {\n    name: 'LinkedIn Jobs',\n    searchUrl: `https://www.linkedin.com/jobs/search?keywords=${encodeURIComponent(criteria.query)}&location=${encodeURIComponent(criteria.location)}`,\n    jobUrlPattern: '/jobs/view/',\n    category: 'cdi_cdd'\n  },\n  'malt': {\n    name: 'Malt',\n    searchUrl: `https://www.malt.fr/s?q=${encodeURIComponent(criteria.query)}&searchCity=${encodeURIComponent(criteria.location)}`,\n    jobUrlPattern: '/project/',\n    category: 'freelance'\n  },\n  'free-work': {\n    name: 'Free-Work',\n    searchUrl: `https://www.free-work.com/fr/tech-it/jobs?query=${encodeURIComponent(criteria.query)}&localisation=${encodeURIComponent(criteria.location)}`,\n    jobUrlPattern: '/job/',\n    category: 'freelance'\n  },\n  'wttj': {\n    name: 'Welcome to the Jungle',\n    searchUrl: `https://www.welcometothejungle.com/fr/jobs?query=${encodeURIComponent(criteria.query)}&aroundQuery=${encodeURIComponent(criteria.location)}`,\n    jobUrlPattern: '/jobs/',\n    category: 'cdi_cdd'\n  }\n};\n\nconst scrapingTasks = selectedSites\n  .filter(site => siteConfigs[site])\n  .map(site => {\n    const config = siteConfigs[site];\n    return {\n      site_id: site,\n      site_name: config.name,\n      category: config.category,\n      search_url: config.searchUrl,\n      job_url_pattern: config.jobUrlPattern,\n      query: criteria.query,\n      location: criteria.location,\n      max_results: Math.ceil(criteria.max_results / selectedSites.length),\n      session_id: criteria.session_id,\n      user_id: criteria.user_id,\n      firecrawl_url: criteria.firecrawl_url,\n      ollama_url: criteria.ollama_url\n    };\n  });\n\nreturn scrapingTasks.map(task => ({ json: task }));"
      },
      "id": "prepare-scraping-tasks",
      "name": "Prepare Scraping Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.firecrawl_url }}/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.search_url }}\",\n  \"formats\": [\"markdown\", \"links\"],\n  \"onlyMainContent\": true,\n  \"waitFor\": 3000,\n  \"timeout\": 30000\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "firecrawl-search",
      "name": "Firecrawl - Scrape Search Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extrait les URLs d'offres depuis les résultats Firecrawl\nconst task = $node['Split In Batches'].json;\nconst firecrawlResult = $input.first().json;\n\nif (!firecrawlResult.success || !firecrawlResult.data) {\n  console.log(`Erreur Firecrawl pour ${task.site_name}:`, firecrawlResult.error);\n  return [];\n}\n\nconst links = firecrawlResult.data.links || [];\nconst jobUrlPattern = task.job_url_pattern;\n\n// Filtrer les liens d'offres d'emploi\nconst jobLinks = links\n  .filter(link => link.includes(jobUrlPattern))\n  .slice(0, task.max_results);\n\nconsole.log(`${task.site_name}: ${jobLinks.length} offres trouvées`);\n\n// Préparer les tâches de scraping individuel\nreturn jobLinks.map((url, index) => ({\n  json: {\n    job_url: url,\n    site_id: task.site_id,\n    site_name: task.site_name,\n    category: task.category,\n    session_id: task.session_id,\n    index: index,\n    firecrawl_url: task.firecrawl_url,\n    ollama_url: task.ollama_url,\n    query: task.query,\n    location: task.location\n  }\n}));"
      },
      "id": "extract-job-urls",
      "name": "Extract Job URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.firecrawl_url }}/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.job_url }}\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true,\n  \"waitFor\": 2000,\n  \"excludeTags\": [\"nav\", \"footer\", \"header\", \"aside\", \".sidebar\", \".ads\"]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "firecrawl-job",
      "name": "Firecrawl - Scrape Job Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "jsCode": "// Prépare le prompt pour Ollama\nconst jobData = $node['Extract Job URLs'].json;\nconst firecrawlResult = $input.first().json;\n\nif (!firecrawlResult.success || !firecrawlResult.data?.markdown) {\n  return {\n    json: {\n      error: 'Failed to scrape job page',\n      ...jobData\n    }\n  };\n}\n\nconst jobMarkdown = firecrawlResult.data.markdown;\nconst metadata = firecrawlResult.data.metadata || {};\n\n// Prompt d'extraction structurée pour Ollama\nconst extractionPrompt = `Tu es un expert en extraction de données d'offres d'emploi.\nExtrait les informations suivantes de cette offre et retourne UNIQUEMENT un objet JSON valide.\n\nFormat attendu:\n{\n  \"title\": \"Titre exact du poste\",\n  \"company\": \"Nom de l'entreprise\",\n  \"location\": \"Ville, Pays\",\n  \"salary\": \"Salaire si mentionné, sinon null\",\n  \"contract_type\": \"CDI|CDD|Freelance|Stage|Alternance|Autre\",\n  \"experience_required\": \"Junior|Confirmé|Senior|Lead|Non précisé\",\n  \"remote_policy\": \"Sur site|Hybride|Full remote|Non précisé\",\n  \"skills\": [\"skill1\", \"skill2\"],\n  \"description\": \"Résumé court de l'offre (max 200 caractères)\"\n}\n\nOFFRE D'EMPLOI:\n${jobMarkdown.substring(0, 6000)}\n\nRéponds UNIQUEMENT avec le JSON, sans texte avant ou après.`;\n\nreturn {\n  json: {\n    ...jobData,\n    job_markdown: jobMarkdown,\n    page_title: metadata.title || '',\n    extraction_prompt: extractionPrompt\n  }\n};"
      },
      "id": "prepare-ollama",
      "name": "Prepare Ollama Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.ollama_url }}/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.1:8b\",\n  \"prompt\": {{ JSON.stringify($json.extraction_prompt) }},\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.1,\n    \"num_predict\": 1500\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "ollama-extract",
      "name": "Ollama - Extract Job Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse la réponse Ollama et structure les données\nconst prevData = $node['Prepare Ollama Extraction'].json;\nconst ollamaResult = $input.first().json;\n\nlet extractedData = {};\n\ntry {\n  // Extraire le JSON de la réponse Ollama\n  const response = ollamaResult.response || '';\n  const jsonMatch = response.match(/\\{[\\s\\S]*\\}/);\n  \n  if (jsonMatch) {\n    extractedData = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  console.log('Erreur parsing Ollama:', e.message);\n  // Fallback avec données basiques\n  extractedData = {\n    title: prevData.page_title || 'Offre d\\'emploi',\n    company: 'Non précisé',\n    location: prevData.location || 'France',\n    salary: null,\n    contract_type: prevData.category === 'freelance' ? 'Freelance' : 'CDI',\n    experience_required: 'Non précisé',\n    remote_policy: 'Non précisé',\n    skills: [],\n    description: prevData.job_markdown?.substring(0, 200) || ''\n  };\n}\n\n// Construire l'objet job final\nconst job = {\n  id: `${prevData.site_id}_${prevData.session_id}_${prevData.index}`,\n  session_id: prevData.session_id,\n  source: prevData.site_id,\n  site_name: prevData.site_name,\n  url: prevData.job_url,\n  title: extractedData.title || 'Offre d\\'emploi',\n  company: extractedData.company || 'Non précisé',\n  location: extractedData.location || prevData.location,\n  salary: extractedData.salary,\n  contract_type: extractedData.contract_type || (prevData.category === 'freelance' ? 'Freelance' : 'CDI'),\n  experience_level: extractedData.experience_required || 'Non précisé',\n  remote: extractedData.remote_policy || 'Non précisé',\n  skills: extractedData.skills || [],\n  description: extractedData.description || prevData.job_markdown?.substring(0, 300) || '',\n  posted_date: new Date().toISOString(),\n  scraped_at: new Date().toISOString()\n};\n\nreturn { json: job };"
      },
      "id": "parse-ollama",
      "name": "Parse Ollama Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [2420, 400]
    },
    {
      "parameters": {
        "jsCode": "// Déduplique les offres similaires\nconst allJobs = $input.all().map(item => item.json).filter(job => job.title && !job.error);\n\nconsole.log(`=== Déduplication ===`);\nconsole.log(`Offres avant déduplication: ${allJobs.length}`);\n\nfunction normalize(str) {\n  return (str || '').toLowerCase().trim().replace(/[^a-z0-9]/g, '');\n}\n\nfunction similarity(str1, str2) {\n  const s1 = new Set(normalize(str1).split(''));\n  const s2 = new Set(normalize(str2).split(''));\n  const intersection = new Set([...s1].filter(x => s2.has(x)));\n  const union = new Set([...s1, ...s2]);\n  return union.size > 0 ? intersection.size / union.size : 0;\n}\n\nconst uniqueJobs = [];\nconst seenSignatures = new Map();\n\nfor (const job of allJobs) {\n  const signature = `${normalize(job.title)}_${normalize(job.company)}`;\n  let isDuplicate = false;\n  \n  for (const [existingSignature, existingJob] of seenSignatures) {\n    const titleSim = similarity(job.title, existingJob.title);\n    const companySim = similarity(job.company, existingJob.company);\n    \n    if (titleSim > 0.8 && companySim > 0.7) {\n      isDuplicate = true;\n      console.log(`Doublon: \"${job.title}\" (${job.source}) ~ \"${existingJob.title}\" (${existingJob.source})`);\n      break;\n    }\n  }\n  \n  if (!isDuplicate) {\n    seenSignatures.set(signature, job);\n    uniqueJobs.push(job);\n  }\n}\n\nconsole.log(`Offres après déduplication: ${uniqueJobs.length}`);\nuniqueJobs.sort((a, b) => new Date(b.posted_date) - new Date(a.posted_date));\n\nreturn uniqueJobs.map(job => ({ json: job }));"
      },
      "id": "deduplicate-jobs",
      "name": "Deduplicate Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "scraped_jobs",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id", "fieldValue": "={{ $json.id }}" },
            { "fieldId": "session_id", "fieldValue": "={{ $json.session_id }}" },
            { "fieldId": "site_name", "fieldValue": "={{ $json.source }}" },
            { "fieldId": "title", "fieldValue": "={{ $json.title }}" },
            { "fieldId": "company", "fieldValue": "={{ $json.company }}" },
            { "fieldId": "location", "fieldValue": "={{ $json.location }}" },
            { "fieldId": "salary", "fieldValue": "={{ $json.salary }}" },
            { "fieldId": "contract_type", "fieldValue": "={{ $json.contract_type }}" },
            { "fieldId": "experience_level", "fieldValue": "={{ $json.experience_level }}" },
            { "fieldId": "description", "fieldValue": "={{ $json.description }}" },
            { "fieldId": "url", "fieldValue": "={{ $json.url }}" },
            { "fieldId": "posted_date", "fieldValue": "={{ $json.posted_date }}" },
            { "fieldId": "scraped_at", "fieldValue": "={{ $json.scraped_at }}" }
          ]
        }
      },
      "id": "save-jobs",
      "name": "Supabase - Save Jobs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2860, 400],
      "credentials": {
        "supabaseApi": {
          "id": "RsG0CR5F5zJGpBIJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Génère la page HTML des résultats\nconst allJobs = $input.all().map(item => item.json);\nconst criteria = $node['Validate Search Criteria'].json;\n\nconst jobsBySource = {};\nfor (const job of allJobs) {\n  if (!jobsBySource[job.source]) jobsBySource[job.source] = [];\n  jobsBySource[job.source].push(job);\n}\n\nconst sourceColors = {\n  'indeed': '#2164f3',\n  'linkedin': '#0a66c2',\n  'malt': '#fc5757',\n  'free-work': '#00b4d8',\n  'wttj': '#ffcd00'\n};\n\nconst sourceNames = {\n  'indeed': 'Indeed',\n  'linkedin': 'LinkedIn',\n  'malt': 'Malt',\n  'free-work': 'Free-Work',\n  'wttj': 'Welcome to the Jungle'\n};\n\nfunction formatDate(dateStr) {\n  const date = new Date(dateStr);\n  const now = new Date();\n  const diffDays = Math.floor((now - date) / (1000 * 60 * 60 * 24));\n  if (diffDays === 0) return \"Aujourd'hui\";\n  if (diffDays === 1) return 'Hier';\n  if (diffDays < 7) return `Il y a ${diffDays} jours`;\n  return date.toLocaleDateString('fr-FR', { day: 'numeric', month: 'short' });\n}\n\nlet jobCardsHtml = '';\nfor (const job of allJobs) {\n  const sourceColor = sourceColors[job.source] || '#6c757d';\n  const sourceName = sourceNames[job.source] || job.source;\n  const remoteIcon = job.remote?.toLowerCase().includes('remote') || job.remote?.toLowerCase().includes('télétravail') ? '🏠' : '🏢';\n  const contractIcon = job.contract_type === 'Freelance' ? '💼' : '📋';\n  const skillsHtml = (job.skills || []).slice(0, 3).map(s => `<span class=\"skill\">${s}</span>`).join('');\n  \n  jobCardsHtml += `\n    <div class=\"job-card\" data-source=\"${job.source}\">\n      <div class=\"job-header\">\n        <span class=\"source-badge\" style=\"background-color: ${sourceColor}\">${sourceName}</span>\n        <span class=\"posted-date\">${formatDate(job.posted_date)}</span>\n      </div>\n      <h3 class=\"job-title\"><a href=\"${job.url}\" target=\"_blank\">${job.title}</a></h3>\n      <div class=\"job-company\"><strong>${job.company}</strong></div>\n      <div class=\"job-details\">\n        <span class=\"detail\">📍 ${job.location}</span>\n        <span class=\"detail\">${contractIcon} ${job.contract_type}</span>\n        <span class=\"detail\">${remoteIcon} ${job.remote || 'Non précisé'}</span>\n        ${job.salary ? `<span class=\"detail\">💰 ${job.salary}</span>` : ''}\n        ${job.experience_level && job.experience_level !== 'Non précisé' ? `<span class=\"detail\">📊 ${job.experience_level}</span>` : ''}\n      </div>\n      ${skillsHtml ? `<div class=\"skills\">${skillsHtml}</div>` : ''}\n      <p class=\"job-description\">${(job.description || '').substring(0, 180)}...</p>\n      <a href=\"${job.url}\" target=\"_blank\" class=\"apply-btn\">Voir l'offre →</a>\n    </div>`;\n}\n\nlet statsHtml = '';\nfor (const [source, jobs] of Object.entries(jobsBySource)) {\n  const color = sourceColors[source] || '#6c757d';\n  const name = sourceNames[source] || source;\n  statsHtml += `<span class=\"stat-badge\" style=\"background-color: ${color}\">${name}: ${jobs.length}</span>`;\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Résultats - ${criteria.query} | JobNexAI</title>\n  <style>\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); min-height: 100vh; padding: 20px; }\n    .container { max-width: 1200px; margin: 0 auto; }\n    .header { background: white; border-radius: 16px; padding: 24px; margin-bottom: 24px; box-shadow: 0 10px 40px rgba(0,0,0,0.1); }\n    .header h1 { color: #1a1a2e; font-size: 28px; margin-bottom: 8px; }\n    .search-info { color: #6c757d; font-size: 14px; margin-bottom: 16px; }\n    .stats { display: flex; flex-wrap: wrap; gap: 8px; margin-bottom: 16px; }\n    .stat-badge, .total-badge { color: white; padding: 6px 12px; border-radius: 20px; font-size: 13px; font-weight: 500; }\n    .total-badge { background: linear-gradient(135deg, #667eea, #764ba2); padding: 8px 16px; font-weight: 600; }\n    .filters { display: flex; flex-wrap: wrap; gap: 8px; margin-top: 16px; }\n    .filter-btn { background: #f8f9fa; border: 2px solid #e9ecef; padding: 8px 16px; border-radius: 20px; cursor: pointer; font-size: 13px; transition: all 0.2s; }\n    .filter-btn:hover, .filter-btn.active { background: #667eea; border-color: #667eea; color: white; }\n    .jobs-grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); gap: 20px; }\n    .job-card { background: white; border-radius: 12px; padding: 20px; box-shadow: 0 4px 20px rgba(0,0,0,0.08); transition: transform 0.2s, box-shadow 0.2s; }\n    .job-card:hover { transform: translateY(-4px); box-shadow: 0 8px 30px rgba(0,0,0,0.12); }\n    .job-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 12px; }\n    .source-badge { color: white; padding: 4px 10px; border-radius: 12px; font-size: 11px; font-weight: 600; text-transform: uppercase; }\n    .posted-date { color: #6c757d; font-size: 12px; }\n    .job-title { font-size: 18px; margin-bottom: 8px; line-height: 1.3; }\n    .job-title a { color: #1a1a2e; text-decoration: none; }\n    .job-title a:hover { color: #667eea; }\n    .job-company { color: #495057; margin-bottom: 12px; font-size: 15px; }\n    .job-details { display: flex; flex-wrap: wrap; gap: 8px; margin-bottom: 12px; }\n    .detail { background: #f8f9fa; padding: 4px 8px; border-radius: 6px; font-size: 12px; color: #495057; }\n    .skills { display: flex; gap: 6px; margin-bottom: 12px; }\n    .skill { background: #e8f4f8; color: #0077b5; padding: 3px 8px; border-radius: 4px; font-size: 11px; }\n    .job-description { color: #6c757d; font-size: 13px; line-height: 1.5; margin-bottom: 16px; }\n    .apply-btn { display: inline-block; background: linear-gradient(135deg, #667eea, #764ba2); color: white; padding: 10px 20px; border-radius: 8px; text-decoration: none; font-weight: 500; font-size: 14px; transition: transform 0.2s, box-shadow 0.2s; }\n    .apply-btn:hover { transform: translateY(-2px); box-shadow: 0 4px 15px rgba(102, 126, 234, 0.4); }\n    .powered-by { text-align: center; margin-top: 40px; color: white; opacity: 0.8; font-size: 14px; }\n    .powered-by a { color: white; }\n    @media (max-width: 768px) { .jobs-grid { grid-template-columns: 1fr; } .header h1 { font-size: 22px; } }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🔍 Résultats pour \"${criteria.query}\"</h1>\n      <p class=\"search-info\">📍 ${criteria.location} • 🤖 Propulsé par Firecrawl + Ollama • ${new Date().toLocaleDateString('fr-FR')}</p>\n      <div class=\"stats\">\n        <span class=\"total-badge\">📊 ${allJobs.length} offres trouvées</span>\n        ${statsHtml}\n      </div>\n      <div class=\"filters\">\n        <button class=\"filter-btn active\" onclick=\"filterJobs('all')\">Tous</button>\n        <button class=\"filter-btn\" onclick=\"filterJobs('cdi')\">CDI/CDD</button>\n        <button class=\"filter-btn\" onclick=\"filterJobs('freelance')\">Freelance</button>\n        ${Object.keys(jobsBySource).map(s => `<button class=\"filter-btn\" onclick=\"filterJobs('${s}')\">${sourceNames[s] || s}</button>`).join('')}\n      </div>\n    </div>\n    <div class=\"jobs-grid\">${jobCardsHtml}</div>\n    <div class=\"powered-by\">Propulsé par <a href=\"https://jobnexai.com\">JobNexAI</a> • Session: ${criteria.session_id}</div>\n  </div>\n  <script>\n    function filterJobs(filter) {\n      document.querySelectorAll('.filter-btn').forEach(btn => btn.classList.remove('active'));\n      event.target.classList.add('active');\n      document.querySelectorAll('.job-card').forEach(card => {\n        const source = card.dataset.source;\n        let show = filter === 'all' || source === filter || (filter === 'cdi' && ['indeed','linkedin','wttj'].includes(source)) || (filter === 'freelance' && ['malt','free-work'].includes(source));\n        card.style.display = show ? 'block' : 'none';\n      });\n    }\n  </script>\n</body>\n</html>`;\n\nreturn { json: { html, session_id: criteria.session_id, total_jobs: allJobs.length, jobs_by_source: Object.fromEntries(Object.entries(jobsBySource).map(([k,v]) => [k, v.length])) } };"
      },
      "id": "generate-html",
      "name": "Generate HTML Results Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scraping_sessions",
        "matchingColumns": ["id"],
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "id", "fieldValue": "={{ $json.session_id }}" },
            { "fieldId": "status", "fieldValue": "completed" },
            { "fieldId": "total_jobs", "fieldValue": "={{ $json.total_jobs }}" },
            { "fieldId": "scraped_jobs", "fieldValue": "={{ $json.total_jobs }}" }
          ]
        }
      },
      "id": "update-session",
      "name": "Supabase - Update Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3300, 400],
      "credentials": {
        "supabaseApi": {
          "id": "RsG0CR5F5zJGpBIJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" },
              { "name": "X-Session-Id", "value": "={{ $json.session_id }}" },
              { "name": "X-Total-Jobs", "value": "={{ $json.total_jobs }}" }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3520, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Job Search Trigger": {
      "main": [[{ "node": "Validate Search Criteria", "type": "main", "index": 0 }]]
    },
    "Validate Search Criteria": {
      "main": [[{ "node": "Supabase - Create Session", "type": "main", "index": 0 }]]
    },
    "Supabase - Create Session": {
      "main": [[{ "node": "Prepare Scraping Tasks", "type": "main", "index": 0 }]]
    },
    "Prepare Scraping Tasks": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Split In Batches": {
      "main": [[{ "node": "Firecrawl - Scrape Search Page", "type": "main", "index": 0 }]]
    },
    "Firecrawl - Scrape Search Page": {
      "main": [[{ "node": "Extract Job URLs", "type": "main", "index": 0 }]]
    },
    "Extract Job URLs": {
      "main": [[{ "node": "Firecrawl - Scrape Job Page", "type": "main", "index": 0 }]]
    },
    "Firecrawl - Scrape Job Page": {
      "main": [[{ "node": "Prepare Ollama Extraction", "type": "main", "index": 0 }]]
    },
    "Prepare Ollama Extraction": {
      "main": [[{ "node": "Ollama - Extract Job Data", "type": "main", "index": 0 }]]
    },
    "Ollama - Extract Job Data": {
      "main": [[{ "node": "Parse Ollama Response", "type": "main", "index": 0 }]]
    },
    "Parse Ollama Response": {
      "main": [[{ "node": "Merge All Results", "type": "main", "index": 0 }]]
    },
    "Merge All Results": {
      "main": [[{ "node": "Deduplicate Jobs", "type": "main", "index": 0 }]]
    },
    "Deduplicate Jobs": {
      "main": [[{ "node": "Supabase - Save Jobs", "type": "main", "index": 0 }]]
    },
    "Supabase - Save Jobs": {
      "main": [[{ "node": "Generate HTML Results Page", "type": "main", "index": 0 }]]
    },
    "Generate HTML Results Page": {
      "main": [[{ "node": "Supabase - Update Session", "type": "main", "index": 0 }]]
    },
    "Supabase - Update Session": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "2.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ffe9a71d241431c7cc543016b230314e7cc4479cad7629ec14b2bc8fc346801"
  },
  "id": "job-scraping-workflow-v2",
  "tags": [
    { "id": "scraping-tag", "name": "Scraping" },
    { "id": "jobnexai-tag", "name": "JobNexAI" },
    { "id": "firecrawl-tag", "name": "Firecrawl" },
    { "id": "ollama-tag", "name": "Ollama" }
  ]
}
