n8n-workflows/linkedin-google-search.json
{
  "name": "JobNexAI - LinkedIn Google Search (Légal)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 4}]
        }
      },
      "id": "cron-trigger",
      "name": "Cron - Toutes les 4h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "search-query",
              "name": "search_query",
              "value": "react developer paris",
              "type": "string"
            },
            {
              "id": "google-api-key",
              "name": "google_api_key",
              "value": "YOUR_GOOGLE_API_KEY",
              "type": "string"
            },
            {
              "id": "google-cx",
              "name": "google_cx",
              "value": "YOUR_GOOGLE_CX_ID",
              "type": "string"
            },
            {
              "id": "start-index",
              "name": "currentStartIndex",
              "value": 1,
              "type": "number"
            },
            {
              "id": "max-pages",
              "name": "maxPages",
              "value": 5,
              "type": "number"
            }
          ]
        }
      },
      "id": "set-params",
      "name": "Set - Search Parameters",
      "type": "n8n-nodes-base.set",
      "position": [500, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.google_api_key }}"
            },
            {
              "name": "cx",
              "value": "={{ $json.google_cx }}"
            },
            {
              "name": "q",
              "value": "={{ $json.search_query }} site:linkedin.com/jobs"
            },
            {
              "name": "start",
              "value": "={{ $json.currentStartIndex }}"
            }
          ]
        },
        "options": {}
      },
      "id": "google-search",
      "name": "Google Custom Search",
      "type": "n8n-nodes-base.httpRequest",
      "position": [750, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.first().json;\nconst items = response.items || [];\n\n// Pagination\nlet nextStartIndex = 1;\nif (response.queries?.nextPage?.[0]) {\n  nextStartIndex = response.queries.nextPage[0].startIndex;\n}\n\nconst hasMoreResults = nextStartIndex <= 100 && nextStartIndex <= ($('Set - Search Parameters').item.json.maxPages * 10);\n\n// Extraction jobs\nconst jobs = items.map(item => {\n  // Parser titre LinkedIn: \"Job Title - Company Name | LinkedIn\"\n  const titleParts = item.title.split(' - ');\n  const title = titleParts[0]?.trim() || 'Non spécifié';\n  const companyPart = titleParts[1]?.split('|')[0]?.trim() || 'Non spécifié';\n  \n  return {\n    title: title,\n    company: companyPart,\n    location: extractLocation(item.snippet),\n    raw_description: item.snippet || '',\n    url: item.link,\n    source: 'LinkedIn',\n    scraping_source: 'linkedin_google',\n    scraping_method: 'google_custom_search',\n    scraped_at: new Date().toISOString(),\n    // Pagination info\n    startIndex: nextStartIndex,\n    hasMoreResults: hasMoreResults\n  };\n});\n\nfunction extractLocation(snippet) {\n  // Patterns communs LinkedIn\n  const patterns = [\n    /(?:in|à|at)\\s+([A-Z][a-zé]+(?:,\\s*[A-Z][a-z]+)?)/,\n    /([A-Z][a-zé]+,\\s*France)/,\n    /(Paris|Lyon|Marseille|Toulouse|Bordeaux|Lille|Nantes)/i\n  ];\n  \n  for (const pattern of patterns) {\n    const match = snippet.match(pattern);\n    if (match) return match[1] || match[0];\n  }\n  \n  return 'Non spécifié';\n}\n\nconsole.log(`✅ [LinkedIn Google] Jobs extraits: ${jobs.length}`);\nconsole.log(`📄 Pagination: ${nextStartIndex}, hasMore: ${hasMoreResults}`);\n\nif (jobs.length === 0) {\n  return [{ json: { error: 'No jobs found', hasMoreResults: false } }];\n}\n\nreturn jobs.map(j => ({ json: j }));"
      },
      "id": "function-extract",
      "name": "Function - Extract Results",
      "type": "n8n-nodes-base.code",
      "position": [1000, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://api.mammouth.ai/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-7b-instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un expert en analyse d'offres d'emploi LinkedIn. Enrichis les données avec ton expertise du marché tech français. Format JSON obligatoire avec: skills (array), experience_level (junior|intermediaire|senior|expert), salary_estimate (string), remote_type (sur_site|hybride|full_remote), contract_type (CDI|CDD|freelance|stage), technologies (array), benefits (array), quality_score (0-10).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyse cette offre LinkedIn:\\n\\nTitre: {{ $json.title }}\\nEntreprise: {{ $json.company }}\\nLocalisation: {{ $json.location }}\\nDescription: {{ $json.raw_description }}\\n\\nRetourne un JSON structuré.\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 1000\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer sk-arDMzaX2bdhamr9RxjgERQ"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        }
      },
      "id": "mammouth-enrichment",
      "name": "Mammouth.ai - Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1250, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "ai", "name": "ai_response", "value": "={{ $json.choices[0].message.content }}", "type": "string"}
          ]
        }
      },
      "id": "set-extract",
      "name": "Set - Extract AI",
      "type": "n8n-nodes-base.set",
      "position": [1500, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const requiredFields = ['title', 'company', 'location', 'skills', 'experience_level', 'remote_type'];\nconst defaultJobStructure = {\n  title: $('Function - Extract Results').item.json.title,\n  company: $('Function - Extract Results').item.json.company,\n  location: $('Function - Extract Results').item.json.location,\n  skills: [],\n  experience_level: 'non_specifie',\n  salary_estimate: null,\n  remote_type: 'non_specifie',\n  contract_type: 'CDI',\n  technologies: [],\n  description_enriched: $('Function - Extract Results').item.json.raw_description,\n  benefits: [],\n  quality_score: 5,\n  enriched: false\n};\n\nfunction validateAndCleanJSON(aiResponse, requiredFields, defaultStructure) {\n  try {\n    let parsedResponse;\n    if (typeof aiResponse === 'object') {\n      parsedResponse = aiResponse;\n    } else if (typeof aiResponse === 'string') {\n      const cleanResponse = aiResponse.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n      parsedResponse = JSON.parse(cleanResponse);\n    }\n    const missingFields = requiredFields.filter(f => !parsedResponse.hasOwnProperty(f));\n    if (missingFields.length > 0) throw new Error(`Champs manquants: ${missingFields.join(', ')}`);\n    return {\n      json: {\n        ...parsedResponse,\n        ...($('Function - Extract Results').item.json),\n        enriched: true,\n        validation_timestamp: new Date().toISOString()\n      }\n    };\n  } catch (error) {\n    return {\n      json: {\n        ...defaultStructure,\n        ...($('Function - Extract Results').item.json),\n        enrichment_error: error.message\n      }\n    };\n  }\n}\n\nconst aiResponse = $input.item.json.ai_response;\nreturn validateAndCleanJSON(aiResponse, requiredFields, defaultJobStructure);"
      },
      "id": "function-validator",
      "name": "Function - JSON Validator",
      "type": "n8n-nodes-base.code",
      "position": [1750, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {"__rl": true, "value": "public", "mode": "list"},
        "table": {"__rl": true, "value": "jobs", "mode": "list"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "location": "={{ $json.location }}",
            "description": "={{ $json.description_enriched }}",
            "url": "={{ $json.url }}",
            "job_type": "={{ $json.contract_type }}",
            "posted_at": "={{ $json.posted_time || $json.scraped_at }}",
            "skills": "={{ JSON.stringify($json.skills) }}",
            "experience_level": "={{ $json.experience_level }}",
            "salary_estimate": "={{ $json.salary_estimate }}",
            "remote_type": "={{ $json.remote_type }}",
            "contract_type": "={{ $json.contract_type }}",
            "technologies": "={{ JSON.stringify($json.technologies) }}",
            "benefits": "={{ JSON.stringify($json.benefits) }}",
            "quality_score": "={{ $json.quality_score }}",
            "enriched": "={{ $json.enriched }}",
            "scraped_at": "={{ $json.scraped_at }}",
            "scraping_source": "={{ $json.scraping_source }}",
            "scraping_method": "={{ $json.scraping_method }}",
            "created_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "supabase-insert",
      "name": "Supabase - Insert Jobs",
      "type": "n8n-nodes-base.supabase",
      "position": [2000, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔍 LINKEDIN GOOGLE SEARCH\n\n**Méthode: Google Custom Search API**\n\n**Avantages:**\n- ✅ 100% LÉGAL\n- ✅ Pas de ban LinkedIn\n- ✅ API officielle Google\n- ✅ Pagination robuste\n- ✅ Gratuit (100 requêtes/jour)\n\n**Configuration:**\n1. Créer projet Google Cloud\n2. Activer Custom Search API\n3. Créer Search Engine (cx)\n4. Configurer: site:linkedin.com/jobs\n5. Copier API Key + CX ID\n\n**Limites:**\n- 100 requêtes/jour (gratuit)\n- 10 résultats/requête\n- Max 100 résultats total\n\n**Coût payant:**\n- $5 pour 1000 requêtes\n- = 10,000 jobs/mois pour $5",
        "height": 500,
        "width": 400,
        "color": 5
      },
      "id": "sticky-doc",
      "name": "✅ Google Search Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [140, 80],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Cron - Toutes les 4h": {
      "main": [[{"node": "Set - Search Parameters", "type": "main", "index": 0}]]
    },
    "Set - Search Parameters": {
      "main": [[{"node": "Google Custom Search", "type": "main", "index": 0}]]
    },
    "Google Custom Search": {
      "main": [[{"node": "Function - Extract Results", "type": "main", "index": 0}]]
    },
    "Function - Extract Results": {
      "main": [[{"node": "Mammouth.ai - Enrichment", "type": "main", "index": 0}]]
    },
    "Mammouth.ai - Enrichment": {
      "main": [[{"node": "Set - Extract AI", "type": "main", "index": 0}]]
    },
    "Set - Extract AI": {
      "main": [[{"node": "Function - JSON Validator", "type": "main", "index": 0}]]
    },
    "Function - JSON Validator": {
      "main": [[{"node": "Supabase - Insert Jobs", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
