n8n-workflows/linkedin-visual-scraper.json
{
  "name": "JobNexAI - LinkedIn Visual Scraper (ScrapingBee)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 6}]
        }
      },
      "id": "cron-trigger",
      "name": "Cron - Toutes les 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "search-params",
              "name": "search_query",
              "value": "react developer",
              "type": "string"
            },
            {
              "id": "location",
              "name": "location",
              "value": "Paris, France",
              "type": "string"
            },
            {
              "id": "linkedin-url",
              "name": "linkedin_url",
              "value": "=https://www.linkedin.com/jobs/search/?keywords={{ encodeURIComponent($json.search_query) }}&location={{ encodeURIComponent($json.location) }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-params",
      "name": "Set - Search Parameters",
      "type": "n8n-nodes-base.set",
      "position": [500, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "https://app.scrapingbee.com/api/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR_SCRAPINGBEE_API_KEY"
            },
            {
              "name": "url",
              "value": "={{ $json.linkedin_url }}"
            },
            {
              "name": "render_js",
              "value": "true"
            },
            {
              "name": "premium_proxy",
              "value": "true"
            },
            {
              "name": "country_code",
              "value": "fr"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "scrapingbee-html",
      "name": "ScrapingBee - Get HTML",
      "type": "n8n-nodes-base.httpRequest",
      "position": [750, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const cheerio = require('cheerio');\nconst html = $input.item.json.data || $input.item.json;\nconst $ = cheerio.load(html);\n\nconst jobs = [];\n\n// Sélecteurs LinkedIn multiples (robustesse)\nconst selectors = [\n  '.base-card',\n  '.job-search-card',\n  '.jobs-search__results-list li',\n  '[data-job-id]',\n  '.scaffold-layout__list-item'\n];\n\nlet jobElements = $();\nfor (const selector of selectors) {\n  jobElements = $(selector);\n  if (jobElements.length > 0) {\n    console.log(`✅ Sélecteur trouvé: ${selector} (${jobElements.length} jobs)`);\n    break;\n  }\n}\n\nif (jobElements.length === 0) {\n  console.log('⚠️ Aucun job trouvé avec sélecteurs classiques');\n  console.log('HTML preview:', html.substring(0, 500));\n}\n\njobElements.each((i, el) => {\n  const $el = $(el);\n  \n  // Extraction multi-sélecteurs\n  const title = (\n    $el.find('.base-search-card__title').text() ||\n    $el.find('h3').text() ||\n    $el.find('[class*=\"title\"]').text() ||\n    ''\n  ).trim();\n  \n  const company = (\n    $el.find('.base-search-card__subtitle').text() ||\n    $el.find('h4').text() ||\n    $el.find('[class*=\"company\"]').text() ||\n    ''\n  ).trim();\n  \n  const location = (\n    $el.find('.job-search-card__location').text() ||\n    $el.find('[class*=\"location\"]').text() ||\n    ''\n  ).trim();\n  \n  const description = (\n    $el.find('.base-search-card__snippet').text() ||\n    $el.find('[class*=\"snippet\"]').text() ||\n    ''\n  ).trim();\n  \n  const url = (\n    $el.find('a.base-card__full-link').attr('href') ||\n    $el.find('a[href*=\"/jobs/view/\"]').attr('href') ||\n    $el.find('a').first().attr('href') ||\n    ''\n  );\n  \n  const jobId = (\n    $el.attr('data-job-id') ||\n    url.match(/\\/jobs\\/view\\/(\\d+)/)?.[1] ||\n    null\n  );\n  \n  const postedTime = (\n    $el.find('time').attr('datetime') ||\n    $el.find('[class*=\"time\"]').text() ||\n    null\n  );\n  \n  // Validation\n  if (title && (url || jobId)) {\n    jobs.push({\n      job_id: jobId,\n      title: title,\n      company: company || 'Non spécifié',\n      location: location || 'Non spécifié',\n      raw_description: description,\n      url: url.startsWith('http') ? url : `https://www.linkedin.com${url}`,\n      posted_time: postedTime,\n      source: 'LinkedIn',\n      scraping_source: 'linkedin_visual',\n      scraping_method: 'scrapingbee',\n      scraped_at: new Date().toISOString()\n    });\n  }\n});\n\nconsole.log(`✅ [LinkedIn Visual] Jobs extraits: ${jobs.length}`);\n\nif (jobs.length === 0) {\n  console.log('⚠️ Aucun job extrait - Vérifier sélecteurs ou HTML');\n  return [{ json: { error: 'No jobs found', html_preview: html.substring(0, 1000) } }];\n}\n\nreturn jobs.map(j => ({ json: j }));"
      },
      "id": "function-parse",
      "name": "Function - Parse LinkedIn HTML",
      "type": "n8n-nodes-base.code",
      "position": [1000, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://api.mammouth.ai/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-7b-instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un expert en analyse d'offres d'emploi LinkedIn. Enrichis les données avec ton expertise du marché tech français. Format JSON obligatoire avec: skills (array), experience_level (junior|intermediaire|senior|expert), salary_estimate (string), remote_type (sur_site|hybride|full_remote), contract_type (CDI|CDD|freelance|stage), technologies (array), benefits (array), quality_score (0-10).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyse cette offre LinkedIn:\\n\\nTitre: {{ $json.title }}\\nEntreprise: {{ $json.company }}\\nLocalisation: {{ $json.location }}\\nDescription: {{ $json.raw_description }}\\n\\nRetourne un JSON structuré.\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 1000\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer sk-arDMzaX2bdhamr9RxjgERQ"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        }
      },
      "id": "mammouth-enrichment",
      "name": "Mammouth.ai - Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1250, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "ai", "name": "ai_response", "value": "={{ $json.choices[0].message.content }}", "type": "string"}
          ]
        }
      },
      "id": "set-extract",
      "name": "Set - Extract AI",
      "type": "n8n-nodes-base.set",
      "position": [1500, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const requiredFields = ['title', 'company', 'location', 'skills', 'experience_level', 'remote_type'];\nconst defaultJobStructure = {\n  title: $('Function - Parse LinkedIn HTML').item.json.title,\n  company: $('Function - Parse LinkedIn HTML').item.json.company,\n  location: $('Function - Parse LinkedIn HTML').item.json.location,\n  skills: [],\n  experience_level: 'non_specifie',\n  salary_estimate: null,\n  remote_type: 'non_specifie',\n  contract_type: 'CDI',\n  technologies: [],\n  description_enriched: $('Function - Parse LinkedIn HTML').item.json.raw_description,\n  benefits: [],\n  quality_score: 5,\n  enriched: false\n};\n\nfunction validateAndCleanJSON(aiResponse, requiredFields, defaultStructure) {\n  try {\n    let parsedResponse;\n    if (typeof aiResponse === 'object') {\n      parsedResponse = aiResponse;\n    } else if (typeof aiResponse === 'string') {\n      const cleanResponse = aiResponse.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n      parsedResponse = JSON.parse(cleanResponse);\n    }\n    const missingFields = requiredFields.filter(f => !parsedResponse.hasOwnProperty(f));\n    if (missingFields.length > 0) throw new Error(`Champs manquants: ${missingFields.join(', ')}`);\n    return {\n      json: {\n        ...parsedResponse,\n        ...($('Function - Parse LinkedIn HTML').item.json),\n        enriched: true,\n        validation_timestamp: new Date().toISOString()\n      }\n    };\n  } catch (error) {\n    return {\n      json: {\n        ...defaultStructure,\n        ...($('Function - Parse LinkedIn HTML').item.json),\n        enrichment_error: error.message\n      }\n    };\n  }\n}\n\nconst aiResponse = $input.item.json.ai_response;\nreturn validateAndCleanJSON(aiResponse, requiredFields, defaultJobStructure);"
      },
      "id": "function-validator",
      "name": "Function - JSON Validator",
      "type": "n8n-nodes-base.code",
      "position": [1750, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {"__rl": true, "value": "public", "mode": "list"},
        "table": {"__rl": true, "value": "jobs", "mode": "list"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "location": "={{ $json.location }}",
            "description": "={{ $json.description_enriched }}",
            "url": "={{ $json.url }}",
            "job_type": "={{ $json.contract_type }}",
            "posted_at": "={{ $json.posted_time || $json.scraped_at }}",
            "skills": "={{ JSON.stringify($json.skills) }}",
            "experience_level": "={{ $json.experience_level }}",
            "salary_estimate": "={{ $json.salary_estimate }}",
            "remote_type": "={{ $json.remote_type }}",
            "contract_type": "={{ $json.contract_type }}",
            "technologies": "={{ JSON.stringify($json.technologies) }}",
            "benefits": "={{ JSON.stringify($json.benefits) }}",
            "quality_score": "={{ $json.quality_score }}",
            "enriched": "={{ $json.enriched }}",
            "scraped_at": "={{ $json.scraped_at }}",
            "scraping_source": "={{ $json.scraping_source }}",
            "scraping_method": "={{ $json.scraping_method }}",
            "created_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "supabase-insert",
      "name": "Supabase - Insert Jobs",
      "type": "n8n-nodes-base.supabase",
      "position": [2000, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔍 LINKEDIN VISUAL SCRAPER\n\n**Méthode: ScrapingBee + Cheerio**\n\n**Avantages:**\n- ✅ Contourne anti-bot LinkedIn\n- ✅ Proxies résidentiels premium\n- ✅ Render JavaScript\n- ✅ Pas de ban compte\n- ✅ Sélecteurs multiples (robuste)\n\n**Configuration:**\n1. Créer compte ScrapingBee\n2. Copier API Key\n3. Remplacer dans node ScrapingBee\n4. Tester avec 1-2 requêtes\n5. Activer Cron\n\n**Coût:**\n- Plan Free: 1000 crédits/mois\n- 1 requête LinkedIn = 5 crédits\n- = 200 scrapes/mois gratuit\n\n**Alternative gratuite:**\n- Utiliser Google Custom Search API\n- Voir workflow linkedin-google-search.json",
        "height": 500,
        "width": 400,
        "color": 6
      },
      "id": "sticky-doc",
      "name": "⚠️ ScrapingBee Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [140, 80],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Cron - Toutes les 6h": {
      "main": [[{"node": "Set - Search Parameters", "type": "main", "index": 0}]]
    },
    "Set - Search Parameters": {
      "main": [[{"node": "ScrapingBee - Get HTML", "type": "main", "index": 0}]]
    },
    "ScrapingBee - Get HTML": {
      "main": [[{"node": "Function - Parse LinkedIn HTML", "type": "main", "index": 0}]]
    },
    "Function - Parse LinkedIn HTML": {
      "main": [[{"node": "Mammouth.ai - Enrichment", "type": "main", "index": 0}]]
    },
    "Mammouth.ai - Enrichment": {
      "main": [[{"node": "Set - Extract AI", "type": "main", "index": 0}]]
    },
    "Set - Extract AI": {
      "main": [[{"node": "Function - JSON Validator", "type": "main", "index": 0}]]
    },
    "Function - JSON Validator": {
      "main": [[{"node": "Supabase - Insert Jobs", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
